[2018-09-15 11:48] mkarg opened #3 "EDP violation: Sign-Off missing for initial commit"
According to the EDP all commits MUST contain a Sign-Off.

[2018-09-15 11:48] mkarg commented on #3
@waynebeaton Exception by EMO?

[2018-09-15 12:54] ggam opened #4 "Missing libraries"
There are some missing JAR libraries that need to be on the `/lib` folder. From what I see on https://github.com/eclipse-ee4j/jakartaee-tck/blob/febd0176d513a2b4d9b13354bf69b6d6c03d79a3/release/tools/common.xml#L78 they are:

* ant_sun.jar
* ant-contrib-1.0b3.jar
* javatest.jar
* tsharness.jar
* apiCheck.jar
* sigtest.jar
* tspackager.jar
* commons-httpclient.jar  (3.1 implied from NOTICE)
* commo

[2018-09-15 18:04] waynebeaton commented on #3
Thanks for checking

According to the handbook,

The author/committer of the initial contribution commit is a committer on the project. No Signed-Off-By is required.

Splitting hairs: The Signed-off-by requirement is not baked into the EDP. It's more of an implementation detail driven by the Eclipse IP Policy. The fundamental requirement is that we have confidence that a (non-committer) contributo

[2018-09-15 18:04] #3 closed

[2018-09-16 06:04] mkarg commented on #3
Thanks for the detailed explanation! I assume a lot of us misinterpreted this, because most of us sign *our own* commits all of the time. So we can stop that now. Great! :-)

[2018-09-20 16:10] bhatpmk commented on #4
We are yet to include the archives, will include them as soon as we get the approval.

[2018-09-20 16:57] ggam commented on #4
Thanks @bhatpmk

[2018-09-26 13:26] scottmarlow opened #7 "Skip JDK setup + use of cts-trunk-almgit.properties file if they do not exist"
I tried using the docker/build_cts8.sh script locally and hacked past assumptions of the JDK location and file cts-trunk-almgit.properties.  My changes are in [https://github.com/scottmarlow/jakartaee-tck/tree/skipsome](https://github.com/scottmarlow/jakartaee-tck/tree/skipsome) but aren't ready for a pull request as I don't know how to handle the absence of cts-trunk-almgit.properties.  I'm creat

[2018-10-03 07:39] vietk commented on #4
Hello

Any ideas about the availability of the missing lib folders ?
i.e:  Days, weeks or months  ? :D

Thanks for your work guys

[2018-10-03 08:30] bhatpmk commented on #4
The CQs are filed for the libraries and we are waiting for the approval. The libraries will be included as soon as we get the approval from Eclipse IP team. Unfortunately I don't know the date by which we can expect the approval.

[2018-10-03 09:05] vietk commented on #4
Thanks for the update @bhatpmk

[2018-10-09 14:16] tomjenkinson opened #8 "Change the groupId and artifactId for that JTA API jar"
As per the information on https://github.com/eclipse-ee4j/ee4j/wiki/New-Maven-Coordinates Jakarta EE implementation will be a different Jar file name

[2018-10-31 15:19] SAPessi commented on #4
Anything new here @bhatpmk (sorry to bug you again)?

[2018-10-31 15:37] bhatpmk commented on #4
There are only couple of libraries, pending for approval from Eclipse IP team. I will update here, once those libraries are approved and are part of the repository.

[2018-11-13 12:07] anajosep commented on #4
The missing libraries are included now. The README contains wiki link which details the steps to build and run Jakarta EE TCK bundle from scratch. Closing this issue.

[2018-11-13 12:07] #4 closed

[2018-11-13 12:09] anajosep commented on #7
The missing libraries are included now. The README.md file contains wiki [link(](https://github.com/eclipse-ee4j/jakartaee-tck/wiki/Instructions-for-building-and-running-JakartaEE-TCK-bundle) which details the steps to build and run Jakarta EE TCK bundle from scratch.  The build/run scripts have been modified as well. Can you try out the steps and let me know if you still face any issue building i

[2018-11-13 15:08] scottmarlow commented on #7
I'm getting the following build error:

+ BUILD_WORKSPACE=/mnt/hudson_workspace/workspace/jakartaee-ee8/buildcts
+ export ANT_HOME=/usr/share/ant/
+ ANT_HOME=/usr/share/ant/
+ export JAVA_HOME=/opt/jdk1.8.0_171
+ JAVA_HOME=/opt/jdk1.8.0_171
+ export PATH=/opt/jdk1.8.0_171/bin:/usr/share/ant//bin:/qa/tools/opt/x86_64/jdk1.8.0_151/bin:/usr/local/bin:/usr/bin
+ PATH=/opt/jdk1.8.0_171/bin:/usr/share/a

[2018-11-13 15:14] anajosep commented on #7
The hardcoded paths need to be modified. These scripts were initially meant to be run from with the docker container - anajosep/cts-base:0.1. I need to modify it for taking these values from the env rather than having hardcoded paths. I will do the required changes.

[2018-11-13 19:16] ggam commented on #7
I confirm I'm able to build it overriding to my actual paths. Awesome job, @anajosep! Now time to run the tests.

[2018-11-13 19:36] ggam opened #11 "cts-base Docker image port 8080 collides with GlassFish"
Following the instructions on the Wiki, the cts-base Docker image opens a server on port 8080. That port collides with GlassFish when it's being tested.

The UUID registry should ideally expose a different port.

[2018-11-14 16:24] anajosep commented on #11
In my latest [commit](https://github.com/eclipse-ee4j/jakartaee-tck/commit/1e206b988f94ed7957b316643e46027bc19fc222), I have provided an option to override the UDDI_REGISTRY_URL through environment variable. I have updated the run instructions in [this ](https://github.com/eclipse-ee4j/jakartaee-tck/wiki/Instructions-for-building-and-running-JakartaEE-TCK-bundle)wiki page as well.

[2018-11-15 18:05] ggam commented on #11
Thanks, I think the updated Wiki makes it clear enough.

[2018-11-15 18:05] #11 closed

[2018-11-15 18:26] #7 closed, assigned to nobody

[2018-11-27 19:38] scottmarlow opened #15 "build of JAXRPC TCK fails due to ant-props.jar reference"
[build_standalone-tcks.sh assumes that $BASEDIR/lib/ant-props.jar exists but it doesn't in my build](https://github.com/eclipse-ee4j/jakartaee-tck/blob/master/docker/build_standalone-tcks.sh#L207), which results in the below error:

Should it be a requirement that $BASEDIR/lib/ant-props.jar exists before starting 'build_standalone-tcks.sh jaxrpc' or should ant-props be downloaded by the build_stan

[2018-12-05 03:46] anajosep commented on #15
In the docker image ant-props.jar is bundled, so the cp command is expected to work there. But if you are building it in your local dev env, ant-props.jar should be downloaded separately and placed under $ANT_HOME/lib.

[2018-12-05 04:32] anandf opened #19 "Analyze failures in ejb30/lite/tx, ejb30/lite/packaging in Jenkins Pipeline"

[2018-12-12 04:58] bhatpmk opened #20 "Clean-up .adoc files under user_guides"
The source files for CTS / TCK User's Guides have some references to Java Partner Engineering, Licensee, etc. Although many of the sentences which are not valid now are removed, there are still some more clean-up required for the .adoc files under user_guides.

The documentation is in the process of being revised to reflect the new Jakarta EE branding. Additional changes will be made as requiremen

[2019-01-07 03:15] anajosep opened #22 "Javamail CTS tests fails due to mail server start up issue in Eclipse CJE infrastructure"
Javamail server is started as part of the pod instance used for testing. However, when the javamail server is used by testing, Authentication exception is being thrown.
The issue does not happen always. If Javmail test suite alone is re-run, it passes. So this might be infrastructure related as well.

javax.mail.AuthenticationFailedException: AUTHENTICATE failed. Authentication failed.
	at com.sun

[2019-01-07 03:20] anajosep opened #23 "JAXRPC tests in standalone TCKS fail with Stub not found error."
Many JAX-RPC related tests fail in standalone TCK. The build process for JAXRPC needs to be validated to check if the stubs were generated properly.

More test failure Logs can be found here:
https://jenkins.eclipse.org/jakartaee-tck/job/jakartaee-tck/job/master/262/#showFailuresLink

01-05-2019 19:44:09:  ERROR: [failed to localize] service.implementation.not.found(com.sun.ts.tests.jaxrpc.ee.j2w.

[2019-01-07 09:48] alwin-joseph opened #24 "Starting the JWSDP 1.3 server fails for jaxr standalone tck run"
This issue is duplicated to track the bug https://bugs.eclipse.org/bugs/show_bug.cgi?id=541542 .

Using the same information from the bug:

[Anand Francis Joseph] 2018-11-25 23:19:02 EST

[Anand Francis Joseph] 2018-11-26 05:26:36 EST

Solution suggested by Frederic Gurr:
[Frederic Gurr] 2018-11-26 12:32:23 EST

[2019-01-09 12:11] alwin-joseph opened #25 "Intermittent failure for jaxrs test sseStageCheckTest_from_standalone"
The jaxrs test sseStageCheckTest_from_standalone fails intermittently. The issue need to be analysed further.

[2019-01-17 05:19] bhatpmk commented on #22
The standard output from Apache James mail server is requested using https://bugs.eclipse.org/bugs/show_bug.cgi?id=543508. As mentioned in the description, the issue happens intermittently, the tests passed in [run#29](https://jenkins.eclipse.org/jakartaee-tck/job/jakartaeetck-nightly-run/29/junit-reports-with-handlebars/testSuitesOverview.html)

[2019-01-17 06:36] gerdogdu opened #26 "Run ant gui"
Hello,

When I execute **ant gui** in the bin folder, it opens the UI but freeze. In the console, it stops at

[code]
Any help is appreciated
Regards.
Gurkan

[2019-01-18 08:43] gerdogdu commented on #26
Any idea?

[2019-01-21 10:59] bhatpmk opened #27 "JPA TCK - Start derby with a security policy"
The JPA TCK installs java procedures using <sql> task, which is failing after the recent upgrade of Derby in GlassFish.

install_java_procedures:
      [sql] Executing commands
      [sql] Failed to execute:  CALL sqlj.remove_jar('APP.dbprocedures', 0)
      [sql] java.sql.SQLTransactionRollbackException: Jar file 'DBPROCEDURES' does not exist in schema 'APP'.
      [sql] Failed to execute:  CALL

[2019-01-21 11:35] bhatpmk commented on #27
The issue is fixed by commit 3051309253b9a72af9d7008ea22a6413f70ab779 in EE4J_8 branch and by commit 6eed9a36119c3537bbedd67bdeb20197bbeb140c in master branch.

[2019-01-21 11:35] #27 closed

[2019-01-21 20:10] #26 closed

[2019-01-23 08:26] bhatpmk opened #29 "Test failures in webservices12/specialcases"
The JakartaEE TCK run has 9 failures in from the suite webservices12/specialcases/clients/j2w/doclit, as the test fails to find the archives to deploy.

These tests have prebuilt endpoints, where the clients are built after deploying the endpoints to the serve. The test validates that importing a WSDL from a predeployed webservice endpoint works properly.

[2019-01-29 08:53] anajosep commented on #29
Due to a logical error in the run script (docker/run_jakartaeetck.sh), the system property `-Dkeywords` was set as empty, causing the deployment to be skipped when the target `build.special.webservices.clients` were run. This caused the failures in these run. I have corrected the run script accordingly as part of commit id https://github.com/eclipse-ee4j/jakartaee-tck/commit/8b3dc80da58c73ea74cd7e

[2019-01-29 08:53] #29 closed

[2019-01-29 09:08] anajosep commented on #23
Problem not reproduced in recent runs.
https://jenkins.eclipse.org/jakartaee-tck/job/standalonetck-nightly-build-run/63/junit-reports-with-handlebars/testSuitesOverview.html
Closing this issue.

[2019-01-29 09:08] #23 closed

[2019-01-29 09:10] anajosep commented on #19
This issue is resolved by re-running only the failed tests alone as part of the run script docker/run_jakartaeetck.sh

[2019-01-29 09:10] #19 closed

[2019-01-29 09:13] anajosep opened #31 "Change the references javaee, j2ee in bundles and other files generated as part of the build"
Following items needs to be addressed as part of this bug.
- Some build scripts and targets still refer to javaee, j2ee. This needs to be changed to jakartaee.
- Some temporary directories created as part of the build procedure, uses javaee or j2ee. This needs to be modified as jakartaee.
- Generated bundles and the directories inside them needs to be changed from javaee/j2ee to jakartee.

[2019-01-30 18:37] markt-asf opened #33 "WebSocket TCK async batchingAllowedOnServerTest fails if conainer supports batching"
The full test name is:
com/sun/ts/tests/websocket/ee/javax/websocket/remoteendpoint/async/WSClient.java#batchingAllowedOnServerTest

Batching should be disabled by default (as per the Javadoc for `RemoteEndpoint#getBatchingAllowed()`.

The test (on the server side) inverts the current batching allowed setting, sends a message, flushes batched messages and then sends 2 more messages. The client wai

[2019-01-30 22:58] markt-asf opened #35 "WebSocket TCK basic batchingAllowed* tests fail if container supports batching"
Full path of failing tests:

- com/sun/ts/tests/websocket/ee/javax/websocket/remoteendpoint/basic/WSClient.java#batchingAllowedOnClientTest
- com/sun/ts/tests/websocket/ee/javax/websocket/remoteendpoint/basic/WSClient.java#batchingAllowedOnServerTest

The tests fail because after enabling batching, the batched messages are not flushed so the client never receives them causing the test to fail.

PR

[2019-02-06 14:46] markt-asf opened #37 "WebSocket TCK some async sendObject() tests don't check Future"
While investigating some TCK failures with Apache Tomcat's WebSocket 1.1 implementation I discovered that 8 of the tests under `com/sun/ts/tests/websocket/ee/javax/websocket/remoteendpoint/async` start sending a message using the asynchronous interface but do not explicitly wait for those messages to complete before trying to send a second message using the basic (synchronous) interface.
The Javad

[2019-02-07 09:58] markt-asf opened #39 "Servlet TCK java.endorsed.dirs not configured"
A number of tests in `com/sun/ts/tests/servlet/spec/serverpush` depend on the flow.jar which is designed to make some Java 9 capability available when using Java 8. However, the configuration necessary to make this JAR available to the test harness is missing causes most of the classes in the above package to fail.

PR to address to to follow shortly.

[2019-02-07 17:36] markt-asf opened #41 "Servlet TCK serverpushInitTest uses case sensitive test for HTTP headers"
HTTP header names are case insensitive. This test (full name below) performs case sensitive tests which will fail if the container uses, for example, all lower case HTTP header names.

`com/sun/ts/tests/servlet/spec/serverpush/Client.java#serverPushInitTest`

PR to follow shortly.

[2019-02-07 23:03] bshannon commented on #41
This does sound like a valid bug, but...

We should consider whether this is the kind of change we should hold until after Jakarta EE 8,
to avoid divergence between the Java EE 8 TCK and the Jakarta EE 8 TCK.

[2019-02-07 23:28] markt-asf commented on #41
The PR (when it arrives) will only be for master - not EE4J_8. It would be nice to get this in a nightly build but delaying merging the PR isn't going to cause me any great hassle.

[2019-02-08 11:07] ankitoracle commented on #35
Could you please give more details about your setup and environment?I was able to run all the tests in the TCK successfully in an Oracle Linux environment

[2019-02-08 12:36] markt-asf commented on #35
I was running the tests against Apache Tomcat 9.0.x which implements batching.
Setup details here:
https://cwiki.apache.org/confluence/display/TOMCAT/Servlet+TCK

[2019-02-08 13:02] markt-asf commented on #35
I'm guessing that you are running the TCK against Glassfish. My expectation from the TCK is that Glassfish doesn't support batching so you won't see these failures. A quick look at the source confirms that:
https://github.com/tyrus-project/tyrus/blob/master/core/src/main/java/org/glassfish/tyrus/core/cluster/RemoteSession.java#L415
https://github.com/tyrus-project/tyrus/blob/master/core/src/main/j

[2019-02-11 11:54] markt-asf opened #44 "Servlet TCK secbasic#test7[_anno] depends on container specific behaviour"
The two tests in question are:

- `src/com/sun/ts/tests/servlet/spec/security/secbasic/Client.java#test7`
- `src/com/sun/ts/tests/servlet/spec/security/secbasic/Client.java#test7_anno`

The tests are identical apart from the second tests uses annotations rather than web.xml for configuration.
The tests use a servlet mapped to `/ServletSecTest`. Note this is an exact mapping, not a path mapping.
Th

[2019-02-11 12:28] markt-asf opened #45 "Servlet TCK denyUncovered tests depend on container specific behaviour"
The tests in question are:

- `src/com/sun/ts/tests/servlet/spec/security/denyUncovered/*` (5 tests)

These tests are packaged in `servlet_sec_denyUncovered_web.war` which usually means a context path of `/servlet_sec_denyUncovered_web`.
However, these tests expect a contenxt path of `/servlet_sec_denyUncovered`. The TCK uses a container specific configuration file (https://github.com/eclipse-ee4j

[2019-02-11 14:08] markt-asf opened #46 "Servlet TCK Cookie setMaxAgePositiveTests assumes server uses en_US Locale"
The full name of the tests in question are:

- `com/sun/ts/tests/servlet/api/javax_servlet_http/cookie/URLClient.java#setMaxAgePositiveTest`
- `com/sun/ts/tests/servlet/pluggability/api/javax_servlet_http/cookie/URLClient.java#setMaxAgePositiveTest`

These test use a custom header to pass a date from the server to the client. The TCK client (at least the GUI anyway) is hard-coded to use the en_US

[2019-02-11 18:30] markt-asf opened #48 "JSP TCK Signature tests fail in standalone mode"
There appear to be two issues.

1. sig-test.map defines `javax.servlet.jsp=2.3_se6` whereas it should define `javax.servlet.jsp=2.3_se8`
2. `src/com/sun/ts/tests/signaturetest/siganture-repository` does not exist. It should exist and contain `javax.servlet.jsp.sig_2.3_se8`

The first issue I can fix and can provide a PR. The second I could do with a pointer on where to look / how to get started.

[2019-02-11 21:39] edbratt commented on #48
Some things you might look at:

1) Have you reviewed the setup instructions in the stand-alone Servlet
TCK user guide
<https://github.com/eclipse-ee4j/jakartaee-tck/tree/master/user_guides/servlet>?
If you haven't already, have a look at section 4.2 Configuring Your
Environment to Repackage and Run the TCK Against the Vendor
Implementation (it's available in adoc format -- you might want to build

[2019-02-12 10:25] markt-asf commented on #48
1) This bug is for the JSP spec, not the Servlet spec. I have read the relevant docs for the JSP TCK.

2) I get continual 504s from that Jenkins instance at the moment. I'll come back to it as I am curious how the stand-alone TCKs are being run without hitting this bug.

3) I have read it. It doesn't help.

4) Assuming s/Servlet/JSP/ I don't think that will help as I suspect whatever is allowing 2

[2019-02-20 06:38] #37 closed

[2019-02-20 06:39] #35 closed

[2019-02-20 06:39] #33 closed

[2019-03-01 01:00] bhatpmk commented on #48
We will fix the issue as early as possible.

[2019-03-01 07:10] alwin-joseph commented on #48
src/com/sun/ts/tests/signaturetest/signature-repository directory is present(not sure if the typo "siganture-repository" was causing the trouble) and it contains the latest signature files. We had removed all the unused sig files and map files(se6 & se7) from this directory before donation.

[2019-03-01 08:34] markt-asf commented on #48
Just to note, there is a typo in my original report. The name of the missing directory is `src/com/sun/ts/tests/signaturetest/signature-repository`

[2019-03-01 09:27] #46 closed

[2019-03-01 09:28] #41 closed

[2019-03-04 02:43] alwin-joseph commented on #48
I have made the change for this issue. Will keep a watch if it reoccurs.

[2019-03-04 09:31] markt-asf commented on #48
I've confirmed that the signature test in the standalone TCK now runs correctly under Java 8. Could the fix be back-ported to the EE4J8 branch?

I'll note that the JSP 2.3 TCK requires Java 8 to run although the minimum Java version for that spec is Java 6. Having this running on Java 6 is a nice to have and I suspect there are many more important issues to address. Having this running on Java 6 i

[2019-03-04 09:36] alwin-joseph commented on #48
The fix is made to both the branches - EE4J & master.

master - https://github.com/eclipse-ee4j/jakartaee-tck/commit/303da3fd93c9c2912f0d5eaaacba84a2d1490136

EE4J_8 - https://github.com/eclipse-ee4j/jakartaee-tck/commit/423f326a5ea13ead63b4e783c7b858d73f06ff74

[2019-03-04 09:52] markt-asf commented on #48
Thanks. I missed that. Just tested the latest EE4J8 nightly JSP TCK build and all looks good. Tx.

[2019-03-04 09:52] #48 closed

[2019-03-28 13:24] #39 closed

[2019-04-04 13:08] alwin-joseph commented on #24
This issue does not appear now for more than a month. The jaxr standalone tck run passes all the tests. Hence closing this issue.

[2019-04-04 13:08] #24 closed

[2019-04-04 13:10] alwin-joseph commented on #25
This test has been passing consistently for several runs. The issue has not occurred for a long time.
Recent test result junit report for jaxrs : https://ci.eclipse.org/jakartaee-tck/job/standalonetck-nightly-build-run/138/junit-reports-with-handlebars/test-summary/3d84f6b4-148b-429b-8f77-0c95add5aeb9.html

[2019-04-04 13:10] #25 closed

[2019-04-04 17:02] mkarg opened #51 "Turning TCK into a multi-dependency maven project"
To make contributing and using the TCK easier for those working only on a small subset of APIs without making it overly hard for those who work on Jakarta EE as a full set of APIs, I'd like to propose to turn the TCK project into a Maven multi-dependency assembly project:
* Split up the monolith into TCK-per-API and move the TCKs into the repositories of the particular API projects.
* The API proj

[2019-04-04 21:40] bshannon commented on #51
Looking forward to your pull request!  :-)

In general, something like this is the right approach.  Note that there's a bunch of common code that
will need to be refactored into a shareable repository as well.

[2019-04-04 22:32] scottmarlow commented on #51
Do you mean all of the tests or only the standalone TCK tests?

If you mean all of the tests, I'd like to see discussion on jakartaee-tck-dev@eclipse.org about this, regarding the general approach to take for moving the TCK tests, especially around deciding what to do with the many tests that span multiple technologies.

Agreed about the common code moving into a shareable repository.

[2019-04-05 05:21] mkarg commented on #51
@bshannon Would be happy to provide a PR, but I will definitively need lots of help as I have not used the TCK ever before.

@scottmarlow My plan is to selectively extract particular tests API-by-API with the help of the particular API teams, i. e. like JAX-RS TCK, JMS TCK, etc. step by step. There might be tests left over. Certainly there has to happen discussions with all committers. Why do you

[2019-04-05 06:08] bshannon commented on #51
Anyone can subscribe to the mailing list, why is that a problem?

[2019-04-05 14:31] scottmarlow commented on #51
@mkarg it will be difficult to contain the entire discussion here in this one issue tracker.  I think that we need to discuss this with a threaded forum or mailing list, not a (flat github issue).

[2019-04-05 17:30] mkarg commented on #51
@scottmarlow I do not share any of that thoughts, but on the other hand, it is not me to decide. Once you have a final decision I would be happy if you write down the outcome here. :-)

[2019-04-05 20:29] scottmarlow commented on #51
@mkarg Thanks for the opportunity. :-)

Before we start the mailing list discussion, could you give details of what the likely impact will be on the current sources like [https://github.com/eclipse-ee4j/jakartaee-tck/tree/master/src/com/sun/ts/tests/jaxrs], as that contains tests for the Jakarta JAX-RS standalone TCK as well as Jakarta EE 8 TCK.  Is the idea that tests that require a Jakarta EE 8

[2019-05-02 09:16] alwin-joseph commented on #31
The pull request : https://github.com/eclipse-ee4j/jakartaee-tck/pull/50 has the initial changes that renames references of javaee/j2ee to jakartaee.
It covers the below :
- Generated bundles and the directories inside them needs to be changed from javaee/j2ee to jakartee.

There are still many changes required to completely remove javaee/j2ee references from the source to resolve the below items

[2019-06-27 01:15] scottmarlow opened #65 "Correct JAXRS references in SAAJ TCK userguide"
[config.inc](https://github.com/eclipse-ee4j/jakartaee-tck/blob/master/user_guides/saaj/src/main/jbake/content/config.inc) + [rebuild.inc](https://github.com/eclipse-ee4j/jakartaee-tck/blob/master/user_guides/saaj/src/main/jbake/content/rebuild.inc) + [_config.yml](https://github.com/eclipse-ee4j/jakartaee-tck/blob/master/user_guides/saaj/src/main/jbake/assets/_config.yml) refer to jaxrs.

I'm not

[2019-06-27 13:55] scottmarlow commented on #65
I also found JAXRS references in other userguides as well (beyond the JAX-RS TCK userguide), [a list is here.](https://paste.fedoraproject.org/paste/rhGCSYsrfgBCVm~~tozzuw)

[2019-06-27 18:07] bshannon commented on #65
Yes, the JAX-RS references are examples from the template and should be removed from
the other user guides.  The rebuild.inc is also an example, but it's only included if you set
the `rebuild` attribute in attributes.conf.  Since this isn't being pushed to a web site, much of
the _config.yml content doesn't really matter and so wasn't updated.

[2019-07-01 23:03] #65 closed

[2019-07-01 23:10] edbratt opened #67 "New Project Names"
Revise project names, per https://docs.google.com/spreadsheets/d/18SraPxRBCOyaS6w-UV6TR-UA1bWy1--sV0ky6msAjWY/edit#gid=0
Also apply simple substitutions as noticed.

[2019-07-04 11:42] tomjenkinson opened #70 "Several JTA tests do not check the status of the transaction before tryng to roll it back creating lots of stack traces that are noisy"
It seems that a lot of the cleanup phase in the JTA tests throw an exception which doesn't fail the TCK but is noisy in the log. For instance from https://jenkins.eclipse.org/jta/job/TCK_run_pipeline/22/artifact/jtatck/bin/run.log

This is part of the output of test https://github.com/eclipse-ee4j/jakartaee-tck/blob/master/src/com/sun/ts/tests/jta/ee/usertransaction/commit/UserCommitClient.java#L1

[2019-07-19 10:48] alwin-joseph opened #83 "platform mode value javaEE to be replaced by jakartaEE"
platform mode value "javaEE" needs to be replaced by "jakartaEE". The userguides/docs  has to be updated too.

[2019-07-19 21:09] bshannon opened #85 "Remove timestamp from zip file names"
The timestamp or "latest" should be removed from the zip file names.
The version number should remain, and should include a micro version number
to allow for future micro version release to (e.g.) update the exclude list.
The major and minor version numbers need to match the corresponding spec.

So, the name should be of the form <spec>tck-<version>.zip, e.g.,
connectortck-1.7.0.zip.

[2019-07-20 04:53] alwin-joseph commented on #85
We have already made this change as it was conveyed earlier. Can you please check the filenames at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee8/nightly/ & https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee8-eftl/staged/ to check if any more changes required.

* We have not made this change to CDI, DI & BV.

[2019-07-22 21:20] bshannon commented on #85
This looks good, although thinking about it a bit more I think it would be better
to put a dash before "tck" in the name, as is done for a few of them.  Eventually
we need to change the names to use the official "short names" for the technologies
so you can defer this additional change until then if you want.

The naming of the CDI, DI, and BV porting kits is less important, but it would make
sens

[2019-07-25 08:53] keilw opened #93 "Package of CDI TCK?"
There's no issue tracker for https://github.com/eclipse-ee4j/cdi-tck, not sure, if by accident or on purpose, but there were other issues raised here about specific TCKs.

The CDI TCK currently uses the package `org.jboss`, will this eventually change to `org.eclipse`, at least after Jakarta EE 8?

[2019-07-31 19:20] kwsutter opened #95 "Revert, back out, or properly fix this expiry date Servlet TCK commit"
Per the discussion on the [TCK mailing list](https://www.eclipse.org/lists/jakartaee-tck-dev/msg00202.html), there were some errant changes made to the Servlet TCK.  These changes are preventing some app servers from certifying to Jakarta EE 8.  These changes need to be reverted, backed out, or properly fixed.

https://github.com/eclipse-ee4j/jakartaee-tck/commit/5d63739aa87016a4bb35516039ac7e83b3

[2019-07-31 23:24] bshannon commented on #95
@markt-asf Mark, I'm hoping you'll submit a PR to undo this change.

[2019-08-01 08:27] markt-asf commented on #95
My preference is to figure out why the fix isn't working as expected and correct it. Looks like the original report has some useful info on that. I'll take a look.

[2019-08-01 10:09] markt-asf commented on #95
This bug report is invalid. The modified TCK test is correct. The test is failing because the server isn't following the [cookie V0 specification](https://curl.haxx.se/rfc/cookie_spec.html). The changes in 5d63739 have exposed a configuration issue in the server under test.

The root cause is that the server that is current is currently failing the TCK is issuing Set-Cookie headers with expires at

[2019-08-01 12:11] alwin-joseph commented on #95
@markt-asf Thanks for taking a look. Can you please reply to the mail thread at jakartaee-tck-dev@eclipse.org (and to Hank Ibell who raised the issue). We could keep the discussion in the forum so they can also reply.

[2019-08-01 13:00] kwsutter commented on #95
@markt-asf Your analysis may be correct, but that still does not allow us to modify the tests before Jakarta EE 8 is released.  Everything that was certified to Java EE 8 has to be able to certify against Jakarta EE 8 with no coding changes.  Modifying testcases that affect this ability is not allowed at this time.  Sorry, but we have to live with this rule for Jakarta EE 8.  Thanks.

[2019-08-01 14:12] markt-asf commented on #95
Then I'd suggest adding the test to the exclusion list for the Jakarta EE 8 TCK else you'll have spec compliant Servlet containers (like Tomcat) unable to pass the TCK. The test can then be removed from the exclusion list as soon as the Jakarta EE 8 TCK is released and work starts on the next release.

[2019-08-01 15:10] kwsutter commented on #95
If that's the proper path to take to resolve this situation, then I'm okay.  But, I think the change should actually be backed out since our priority should be existing Java EE 8 compliant application servers.  @bshannon What's your take?

[2019-08-01 18:26] bshannon commented on #95
Back out the fix.

If you're required to run the test in the en_US locale, that's acceptable per the TCK rules.

If a compliant server running in the en_US locale still fails to pass the test, they can file
a test challenge and we can exclude the test if the challenge is accepted.

Since we decided to not allow for "alternate" tests in Jakarta EE, the fix would need to be
applied after Jakarta EE

[2019-08-02 09:38] alwin-joseph commented on #95
@markt-asf We will need to start building latest bundles to promote and release, after this is resolved.

[2019-08-14 11:05] rmannibucau opened #102 "Jsonb assertions for gregorian calendar does not check for value"
Issue is detailled at https://github.com/eclipse-ee4j/jsonb-api/issues/177#issuecomment-521190402

A jsonb tck uses equals between gregorian calendars making the value assertions not validated properly - it validates the way/method the calendar is built which is not required by the spec since it is opaque to the user.

[2019-08-15 14:44] kwsutter commented on #95
Just wondering the current state of this issue?  Was this change backed out?  If so, what was the PR?  thanks.

[2019-08-16 02:43] alwin-joseph commented on #95
Yes the changes were backed out : https://github.com/eclipse-ee4j/jakartaee-tck/pull/99

[2019-08-16 11:48] rmannibucau opened #103 "No reason com.sun.ts.tests.jsonb.defaultmapping.collections.CollectionsMappingTest#testEnumMap fails deserialization"
com.sun.ts.tests.jsonb.defaultmapping.collections.CollectionsMappingTest#testEnumMap expects EnumMap can't be unmarshalled, there is no technical reason for that, was even in the spec: https://github.com/javaee/jsonb-spec/blob/dc81f781f490e26ca545f98c50a7319551f724e2/examples/runtime/src/main/java/examples/mapping/DefaultMapping.java#L460

edit: same for EnumSet test

[2019-08-16 13:28] kwsutter commented on #95
Resolved via PR #99.  Thanks, @alwin-joseph, for the pointer!

[2019-08-16 13:28] #95 closed

[2019-08-20 13:29] jansupol commented on #102
In the case of test exclusion, the test exclusion is needed to be done for:
-  full [JakartaEETCK](https://github.com/eclipse-ee4j/jakartaee-tck/blob/60f5315215196e51a6fc3eb986149b2ff1c6d91f/install/jakartaee/bin/ts.jtx#L164)
- [JSON-B TCK](https://github.com/eclipse-ee4j/jakartaee-tck/blob/master/install/jsonb/bin/ts.jtx#L164)

Note the name of the tests. For full Jakarta EE CTS, 4 [vehicles](htt

[2019-08-20 13:29] jansupol commented on #103
In the case of test exclusion, the test exclusion is needed to be done for:
-  full [JakartaEETCK](https://github.com/eclipse-ee4j/jakartaee-tck/blob/60f5315215196e51a6fc3eb986149b2ff1c6d91f/install/jakartaee/bin/ts.jtx#L164)
- [JSON-B TCK](https://github.com/eclipse-ee4j/jakartaee-tck/blob/master/install/jsonb/bin/ts.jtx#L164)

Note the name of the tests. For full Jakarta EE CTS, 4 [vehicles](htt

[2019-08-20 13:40] jansupol commented on #103
@m0mus The question is: If the Spec, Section 3.11 does not mention EnumMap and EnumSet, is it possible for the implementation to support it? If so, the tests should be excluded.

[2019-08-26 09:45] alwin-joseph commented on #93
This issue needs to move to https://github.com/eclipse-ee4j/cdi-tck.
@keilw can you please check with @starksm64 if this is resolved or needs attention

[2019-08-26 09:48] alwin-joseph commented on #85
This issue was resolved using https://github.com/eclipse-ee4j/jakartaee-tck/pull/90. Hence closing.
The naming of the CDI, DI, and BV porting kits were also done in the respective repos.

[2019-08-26 09:48] #85 closed

[2019-08-26 09:54] keilw commented on #93
I cannot transfer a ticket. @starksm64, could you transfer this one, or should I create a new one?
It won't be a problem for Jakarta EE 8, but on the long run it seems good to harmonize it.

[2019-08-26 20:13] m0mus commented on #103
I don't remember any particular reason why we are not supporting it. We should remove the negative test.

[2019-08-26 20:22] rmannibucau commented on #103
@jansupol everything unexplicit is not forbidden as a general rule, only the opposite is true (what is explicitly required must be supported). This let vendors propose custom features on top of the specs instead of locking them.

[2019-08-26 21:06] rmannibucau commented on #103
@bshannon it is not the case for most specs and most TCK (thinking out loud, CDI, Bean validtaion, jsonp, jsonb, ejb, jsp, servlet, jbatch, jaxws, jaxrs, inject, jpa, jta, ...), so I assume this is the common way even if not stated explicitly ;). Specs never define what they don't know so vendors generally do what they want/need and it is sane to not limit impls when there is no reason, in particu

[2019-08-27 02:33] olamy opened #110 "servlet_sec_secform_web.xml contains a wrong url-pattern"
This is preventing starting the webapp.
https://github.com/eclipse-ee4j/jakartaee-tck/blob/master/src/com/sun/ts/tests/servlet/spec/security/secform/servlet_sec_secform_web.xml#L348
[code]
`/On*` is not correct regarding to specs.

[2019-08-27 04:44] rmannibucau commented on #103
@bshannon factually this is not what is done even if the intent - guess vendors either take care of it or find ways to solve it.

Anyway 3.11 states it MUST be supported so the  test is actually wrong.

[2019-08-27 10:49] keilw commented on #93
Ok than let's postpone that till at least Jakarta EE 9. I assume, that unless there was another package namespace like "jakarta" brand new TCKs (see the discussion I started with https://github.com/eclipse-ee4j/nosql/issues/20) probably should use wherever they are defined. And many of the current "RIs" are here, so they may use org.eclipse.

[2019-08-27 10:52] jansupol commented on #103
+1 for excluding the test

[2019-08-28 10:32] alwin-joseph opened #111 "Correct the date time data printed in bundles info file from CI certification jobs"
The below jobs get the datetime of the promoted bundles to be output into a info file.
-https://ci.eclipse.org/jakartaee-tck/job/eftl-standalonetck-certification/
-https://ci.eclipse.org/jakartaee-tck/job/eftl-standalonetck-certification-web/
-https://ci.eclipse.org/jakartaee-tck/job/standalonetck-certification/
-https://ci.eclipse.org/jakartaee-tck/job/standalonetck-certification-web/

The comman

[2019-08-28 21:23] olamy commented on #110
simply deploy the war ` servlet_sec_secform_web.war ` in jetty and you will get
[code]

[2019-08-29 00:15] bshannon commented on #111
If you download the bundle and do stat on it, it's always going to give you the current time, right?

If the mod time on the file in the download area isn't what you expect, something else is probably wrong.

[2019-08-29 02:03] RohitKumarJain commented on #110
let me check for the same and will get back to you.

[2019-08-29 18:53] RohitKumarJain commented on #45
Hi Mark,

Is there any way to contact you regarding this issue, as I am unable to locate your email_id. I would like to take further inputs.

regards,
Rohit Jain
(rohit.ku.jain@oracle.com)

[2019-08-30 09:08] markt-asf commented on #45
This issue will occur when running the TCK on any container that doesn't use the Glassfish specific sun-web.xml configuration file. That file is not part of the Servlet specification and should not be required in order to pass the TCK. I observed the issue running the Servlet TCK against Apache Tomcat.

To reproduce this issue, I suggest you simply remove that file and run the tests. They will the

[2019-08-30 09:11] RohitKumarJain commented on #45
Thanks, l have started investigating it, will update you with my findings.

[2019-08-30 10:27] alwin-joseph opened #113 "The ejb30/lite tests failing at the first time"
"Some of the ejb30 tests in jakarataee-tck, especially the ones in ejb30/lite fail with different count at the first time. The failures occur when they are run in a single shot due to deployment failures (possibly caused by OOM) and hence the failed ones are rerun once.

Even in multiple attempts we might not be able to get them all pass in one shot. We had also tried splitting the suite to the ma

[2019-08-30 10:31] alwin-joseph opened #114 "Change to run jaxr signature tests and functional tests together"
jaxr signature test is now run by a separate ant task unlike other TCKs line : https://github.com/eclipse-ee4j/jakartaee-tck/blob/4687f0a79e3ce4f25b8505a7281b603de6455ae9/docker/jaxrtck.sh#L87 .

We need to make changes to jaxr run.all target to include signature test too.

[2019-08-30 10:39] alwin-joseph opened #115 "Remove jwsdp dependency on jaxr test runs."
We use jwsdp-1.3 as a UDDI Registry Server which requires JavaSE1.4 to work.

We should be able to use any registry server. Need to experiment  with jUDDI (http://juddi.apache.org/) or anything that works.

[2019-08-30 11:00] alwin-joseph opened #116 "Remove jtreportparser.jar from the source docker/JTReportParser"
We are currently including the JTReportParser jar in the repo and use that to generate the reports. Avoid this and as Anand&Bill suggested it should be downloaded from a central repo.

From the email -

Anand:  The source code for JTReportParser.jar is available at https://github.com/eclipse-ee4j/jakartaee-tck-tools/tree/master/tools/jtreport-parser. Currently its just a set of java source files w

[2019-08-30 11:14] alwin-joseph opened #117 "Create new branch for Jakartaee8"
The existing EE4J_8 branch is currently stale and is not used for any developments or job execution from jenkins CI.

The latest changes for jakartaee8 are all in master branch. We need to create a separate branch for jakartaee8 release or use the current EE4J_8 by merging all the new changes from master.

[2019-08-30 15:35] scottmarlow commented on #117
What would we like to use for the jakartaee8 branch name?  Perhaps branch name "jakartaee8"?

IMO, EE4J_8 sounds okay for a branch name that we will actively maintain in the future, as well.  If we do that, I am thinking we could rename the current EE4J_8 to EE4J_8_SOMETHING (EE4J_8_OLD or better), then create a new EE4J_8 from master.

[2019-08-30 21:08] bshannon commented on #117
All the EE4J_8 branches should've been merged and deleted long ago.  I know some projects
haven't done that yet, but it's time.

We don't need a branch for Jakarta EE 8, but we do need a tag for the 8.0.0 release of the TCK.
Going forward, we need to decide whether master will be used for 8.0.x maintenance releases,
or whether it will be used for advanced 9.0.0 development.  In the latter case, we

[2019-09-04 22:12] edbratt opened #118 "Create revised CTS bundle to pick up changes in JSON B test challenge"
Please build new version of Jakarta EE 8 CTS release that includes changes required by probable accepted test challenge [jsonb-api#180](https://github.com/eclipse-ee4j/jsonb-api/issues/180). As a working presumption, this will be Jakarta EE CTS 8.0.1.

[2019-09-05 17:30] #103 closed

[2019-09-05 17:39] #102 closed

[2019-09-09 07:23] markt-asf commented on #110
The mapping `/On*` is specification compliant. It falls under the "All other strings are used for exact matches only". I am not aware of any specification based justification for rejecting such a mapping.

I agree it looks suspect. It is unlikely such a mapping would be defined in web.xml intending it to be an exact match. Tomcat [logs a message](https://github.com/apache/tomcat/blob/master/java/o

[2019-09-09 09:52] RohitKumarJain commented on #110
When we deploy in Jetty it is expected behavior. (Handling these scenarios may vary by app server to app server selection for deployment),
(https://eclipse.googlesource.com/jetty/org.eclipse.jetty.project/+/master/jetty-http/src/main/java/org/eclipse/jetty/http/pathmap/ServletPathSpec.java#116)

So if we need mapping like /On*, either redesign this to /One/* so each resource will be a subpath, or

[2019-09-09 10:55] markt-asf commented on #110
I don't see any text in the Servlet spec that allows a container to reject a url pattern of `/On*` as invalid (as much as I think any such configuration is likely to behave differently than the user expects).

This issue should be resolved as invalid and an issue opened against Jetty.

[2019-09-09 11:00] RohitKumarJain commented on #70
@tomjenkinson : Could you please review the below PR: https://github.com/eclipse-ee4j/jakartaee-tck/pull/123 .

We have done testing and checked where we are preventing noise in the logs while guarding a block with few checks.

[2019-09-09 11:17] arjantijms commented on #110
@RohitKumarJain the idea is that "/On*" is just a string, and thus is exact mapped. The "*" has no special meaning here. It's treated just like a mapping on "/Ono" or "/Ona" or what have you.

[2019-09-11 02:44] #110 closed

[2019-09-11 10:36] gurunrao commented on #118
New CTS 8.0.1 has been created based on JSONB test challenge.
EPL bundles: https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee8/promoted/
EFTL bundles: https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee8-eftl/promoted/

[2019-09-11 10:36] #118 closed

[2019-09-12 19:59] chengfang opened #124 "ejb30/timer/schedule/lifecycle/Client.java#timerEquals failed when timer already expired"
This test (com/sun/ts/tests/ejb30/timer/schedule/lifecycle/Client.java#timerEquals_from_ejbliteservlet) may fail when the timer already expired when the test tries to cancel it.

It failed because the test tries to cancel a timer that has already expired in this test run, which results in javax.ejb.NoSuchObjectLocalException.  This is correct on the ejb container side.

The test should be updated

[2019-09-12 20:13] chengfang opened #125 "ejb32/lite/timer/schedule/expression/annotated/Client.java\#dayOfWeekOverDayOfMonth failed at midnight"
This issue affects the following tests:

[code]

similar tests under com/sun/ts/tests/ejb30/timer/...

It failed because the test ran at mid-night (11:59:59 PM).  The test created a timer to fire the next day, and expect no timer is fired.  When the timer is created at the end of day 1, but it was already day 2 when checking test results.

Snippet from test log:

[code]

[code]

These tests curren

[2019-09-16 12:54] scottmarlow commented on #125
Thanks for reporting this Cheng, do you plan to submit a pull request (when you have time of course :) to address this transient failure or should others look at addressing it?

[2019-09-17 02:50] chengfang commented on #125
I'm afraid I won't have time in the near future to work on it.  Others are welcome to take it.

[2019-09-17 03:55] RohitKumarJain commented on #125
@chengfang @scottmarlow , Let me look into it, and I'll update you with my findings on the same.

Thanks,
Rohit Jain

[2019-09-18 12:49] alwin-joseph commented on #117
@gurunrao FYI

Current status:
1. I have removed the old(stale) EE4J_8 branch.
2. New branch  8.0.0 created , changes released as JakartaEE TCK 8.0.0.

3. New branch 8.0.1 created which has the jsonb 1.0.1 changes in addition to 8.0.0, released as Jakarta EE TCK 8.0.1  & jsonb tck 1.0.1 also generated from this branch.

4. Will continue making future changes in master until decided otherwise.

As

[2019-09-18 18:28] bshannon commented on #117
Everything in the branches is in master as well, right?

As long as there's a simple linear history, I prefer tags.

[2019-09-23 08:36] gurunrao commented on #117
@bshannon - we have created v8.0.1 and v8.0.0 tags and deleted corresponding branches.

[2019-09-23 23:48] bshannon commented on #117
The convention we're using is to name the tags without the "v", e.g., "8.0.0" and "8.0.1".

[2019-09-24 05:26] gurunrao commented on #117
@bshannon - have renamed according convention "8.0.0" and "8.0.1" without v.

[2019-09-24 11:01] alwin-joseph commented on #117
Yes

Now that we have tags for 8.0.0 & 8.0.1 releases, we will continue to use the master branch for post 8.0.1 changes. I am assuming that no more changes are required in 8.0.1 version.

[2019-09-24 19:27] bshannon commented on #117
That's correct.  I've released the 8.0.1 version.  Further changes would go in an 8.0.2 version.

[2019-09-27 07:49] #117 closed

[2019-09-27 08:10] RohitKumarJain commented on #70
@tomjenkinson , closing this issue.

[2019-09-27 08:13] #70 closed

[2019-09-27 09:53] RohitKumarJain commented on #45
Hi Mark,

As discussed over the email you were successfully able to deploy the war file in tomcat without any failure. For the same, I am creating the PR, could you please look into it?

PR details: https://github.com/eclipse-ee4j/jakartaee-tck/pull/126

Thanks,
Rohit

[2019-10-09 02:18] chengfang commented on #124
This test may fail earlier than the step that tries to cancel the timers.  For example, it failed at the following step:

`assertNotEquals("Compare timer to TimerHandle.", t1, scheduleBean.getTimerHandle(t1));`

Since `t1` already expired at this step, so calling any timer method on it within `ScheduleBean` results in
[code]

[2019-10-17 22:08] scottmarlow opened #132 "Jakarta EE 8 challenge, permissions.xml must also be added to EAR level"
To correctly resolve a failure in com.sun.ts.tests.securityapi.ham.sam.obtainbean.Client#testSAMObtainBean, [the securityapi/ham/sam/obtainbean/build.xml](https://github.com/eclipse-ee4j/jakartaee-tck/blob/master/src/com/sun/ts/tests/securityapi/ham/sam/obtainbean/build.xml#L40) should be changed to include the permissions.xml in the EAR (should also keep permissions.xml at the WAR level).

This i

[2019-10-18 10:56] alwin-joseph commented on #45
Closing this issue as the changes are merged

[2019-10-18 10:56] #45 closed

[2019-10-21 19:41] chengfang opened #133 "ejb30/timer/schedule/expire/Client.java#dayOfWeekSunday2 failed when running near daylight saving time"
When running the test (ejb30/timer/schedule/expire/Client.java\#dayOfWeekSunday2_from_ejbliteservlet) one week before switching to or from daylight saving time, this test failed with the following error:

[code]

The test tries to verify the next timeout for a scheduled timer that fires every Sunday, by comparing the result of calling `timer.getNextTimeout()`, to a computed expected date.  When co

[2019-10-28 01:49] chengfang commented on #133
The following 2 tests also failed for the same reason:

com/sun/ts/tests/ejb30/timer/schedule/expire/Client.java\#dayOfWeekSunday
com/sun/ts/tests/ejb30/timer/schedule/expire/Client.java\#dayOfWeekAll

[2019-11-03 20:43] chengfang opened #134 "ejb32/lite/timer/schedule/expression/annotated/Client.java#dayOfMonthAndDayOfWeek failed when running the day before daylight time switch"
The following 4 tests failed when running the day before daylight time switch (e.g., 2019-11-02):
[code]

The test creates a timer that expires this DAY_OF_WEEK and next DAY_OF_MONTH.  When running this test the day before daylight time switch, the next day of month is +/- 1 hour, instead of the exact 24 hours.  The test manually computes an expected remaining time as `long expectedNext = 24 * 60

[2019-11-13 16:49] chengfang opened #136 "Second-later calendar-based timer can be too short for some tests"
Some cts tests create a second-later calendar-based timer, and expect it to fire shortly.  For example, in `com.sun.ts.tests.ejb30.timer.common.TimerBeanBaseWithoutTimeOutMethod` class:

[code]

And in `TimerUtil class`:

[code]

Timers created this way only have precision up to second. If such a `ScheduleExpression` is created towards the end of a second, then the timer is set to expire in just a

[2019-11-26 02:06] RohitKumarJain commented on #132
Hi @scottmarlow , I made the necessary changes, could you please help while reviewing this PR: https://github.com/eclipse-ee4j/jakartaee-tck/pull/137 .

Thanks,
Rohit

[2019-11-26 19:33] RohitKumarJain commented on #132
Hi @scottmarlow , I apologies for your inconvenience.
We made the necessary changes, could you please help while reviewing this PR:
https://github.com/eclipse-ee4j/jakartaee-tck/pull/138

Thanks,
Rohit Jain

[2019-12-13 07:09] olamy commented on #45
everything was fine until this revert https://github.com/eclipse-ee4j/jakartaee-tck/commit/c990b0279c5f3e30699d01ef435d33835198bb3c

[2019-12-19 07:41] alwin-joseph opened #141 "Regenerate expiring certificate"
The certificates in jakartaee-tck are set to expire soon
(Jan 2, 2020). The tests using this certificate will fail if not upgraded before that.

Below are the locations for the cts alias certificate in three files
clientcert.jks, clientcert.pks & cts_cert . (all are the same cert)
./install/jaspic/bin/certificates/
./install/jakartaee/bin/certificates/
./install/websocket/bin/certificates/
./insta

[2020-01-07 15:42] scottmarlow commented on #132
Just noticed that the [TCK process document](https://github.com/jakartaee/specification-committee/blob/master/process.adoc#filing-a-challenge) mentions that challenges should be created via the [specification](https://github.com/jakartaee/specifications).

I'll create a corresponding issue there as well.

[2020-01-08 05:24] gengyanyu opened #145 "CTS on JDK11"
This is a request from Steve:

We recently figured out that no one had run the CTS on JDK11 and that’s the one that we will initially certify.
I made a minor change to fix the local set-up on Linux.

The next big steps are the following.
1. We need for the RI to run on JDK8 all the time while the vendor implementation (WLS) runs on whatever JV is set to (defaults to JDK8).  I know that we have mul

[2020-01-08 05:28] gengyanyu commented on #145
I have set $RI_JAVA_HOME by running devenv, and update command.testExecuteAppClient2 and command.testExecute2 in my local ts.jte to use $RI_JAVA_HOME instead of $JAVA_HOME, but I don't know if other part of TCK also need to update to use $RI_JAVA_HOME.

About part2, I guess Steve means the vi endorsed.dirs need to remove when vi using JDK11.

[2020-01-08 13:45] alwin-joseph opened #146 "Enhancement to generate new CTS certificate during test run"
The PR https://github.com/eclipse-ee4j/jakartaee-tck/pull/142 was made to refresh the cts certificates used in test runs as they are set to expire soon.

Ideally we should generate the certificates before the tests are run.

[2020-01-13 04:45] gurunrao commented on #146
New certificates are "Valid from: Mon Dec 23 11:51:39 IST 2019 until: Sat Aug 13 11:51:39 IST 2044"
We need to generate new certificate only in case of certificate algorithms become weak over time or not supported by JVM.
@edbratt

[2020-01-16 09:42] #141 closed

[2020-01-19 16:15] scottmarlow commented on #132
Addressed via [specifications/pull/133](https://github.com/jakartaee/specifications/pull/133) + [eclipse-jakartaeetck-8.0.2.zip](http://download.eclipse.org/jakartaee/platform/8/eclipse-jakartaeetck-8.0.2.zip)

[2020-01-19 16:15] #132 closed

[2020-02-05 09:43] jbescos opened #151 "Different results with JDK8 and JDK11 with date format in german locale"
There is one test failing in TCK related to this topic, when it is executed with JDK11. The test is: 'com.sun.ts.tests.jsonb.api.annotation.AnnotationTest.testJsonbDateFormat'

To illustrate the issue:

You can run the next test with JDK8 and JDK11, and you will see that is success with JDK8 but it doesn't work for JDK11:
`
public class TckTest {

    private static final String EXPECTED_DATE = "D

[2020-02-05 10:35] jbescos commented on #151
I have created this PR with my suggestion:
https://github.com/eclipse-ee4j/jakartaee-tck/pull/152/

[2020-02-12 21:36] brideck opened #155 "ejb30[ejb32/lite]/timer/basic/concurrency/LockSingletonTimerBeanBase - getNextTimeout should allow NoSuchObjectLocalException"
The two tests with LockSingletonTimerBeanBase have the following code snippet:
[code]

Other tests in the TCK that cover this function catch and ignore both NoMoreTimeoutsException and NoSuchObjectLocalException (see ejb30/timer/common/TimerBeanBaseWithoutTimeOutMethod.passIfNoMoreTimeouts() for example).

Given that these two tests are performing Timer calls from within PostConstruct and PreDestr

[2020-02-14 01:33] bshannon opened #156 "Need improved signature test tool that doesn't include JDK signatures"
## Background

Part of our TCK test suites is a signature test that verifies that the API
signatures of an implementation match what's expected from the specification.
The signature test is based on a file that records the API signatures.  The
[sigtest tool](https://wiki.openjdk.java.net/display/CodeTools/sigtest) (part of the OpenJDK project) is used to generate the signature
file base on a "refe

[2020-02-24 20:10] scottkurz opened #158 "Should "Additional Java EE 8 CTS Requirements" include the standalone Batch TCK?"
Under **Additional Java EE 8 CTS Requirements** it lists:

    Contexts and Dependency Injection for Java 2.0 (JSR 365)

    Dependency Injection for Java 1.0 (JSR 330)

    Bean Validation 2.0 (JSR 380)

--

Should Batch 1.0 (JSR 352) also be in this list or is it covered in some other way?

[2020-02-25 14:18] chengfang commented on #124
Any updates?  These tests, and a few other jakartaee-tck issues filed by me, are causing test failures quite often when running with WildFly.

[2020-02-25 14:27] RohitKumarJain commented on #124
@chengfang , I am looking into this issue, please allow me some time to get back to you. Earlier I got engaged with some other task hence couldn't spend much time analyzing this issue.

[2020-02-28 09:19] RohitKumarJain commented on #124
@chengfang , looking forward to your inputs. Thanks

[2020-03-01 05:10] chengfang opened #159 "Wrong expected nextTimeout value due to leap year"
When calculating a timer's expected next timeout, certain tests do not take into consideration leap years. So when running these tests on Feb 28, or Feb 29, the created test timer is configured to expire on Feb 29 of some year depening on the schedule's `year` and `start` attributes. The tests calculate the next timeout year to be the intersection of `year` and `start` attribute values, but some o

[2020-03-01 21:21] chengfang commented on #124
@RohitKumarJain this test is time-sensitive and is not always reproducible. But to reproduce it does not require any extra steps; just need to run this test (or the whole test directory, or an entire test area like tests/ejb30/timer), and at certain time, it may fail.

I think we can wrap these timer method invocations with try-catch of `javax.ejb.NoSuchObjectLocalException` and ignore the excepti

[2020-03-10 16:40] scottkurz commented on #158
The source is rolled into the main 'src' folder, e.g. see:
https://github.com/eclipse-ee4j/jakartaee-tck/tree/master/src/com/ibm/jbatch/tck

I hadn't realize that, closing the issue.

[2020-03-10 16:40] #158 closed

[2020-03-11 13:40] scottkurz opened #162 "Convert batch (jbatch) TCK tests from javax.* -> jakarta.* packages, and from JCP -> Jakarta targetNamespace"
As part of EE 9 release plan: eclipse-ee4j/batch-api#7:
- [X] Java package rename (#161)
- [ ] XML namespace rename

[2020-03-11 17:10] scottmarlow commented on #162
@scottkurz [https://github.com/eclipse-ee4j/jakartaee-tck/pull/161] contains some changes [for batch](https://github.com/eclipse-ee4j/jakartaee-tck/pull/161/commits/297da38b41963987e272131e1a2393b3a61ae8a6).

[2020-03-11 22:36] scottkurz commented on #162
More discussion in the #161 PR

[2020-03-13 02:08] chengfang opened #163 "com/sun/ts/tests/ejb32/lite/timer/schedule/expire/Client.java#leapYears failed due to wrong expected timeout"
When running with WildFly, the following 4 tests failed due to the wrong expected next timeout value computed by the test:

[code]

The relevant part of the test output shows that a timer is created to expire on Feb 29, 2028 **2:31:27**, and the test expects the next timeout to be Feb 29, 2028 **03:31:27**, but the actual next timeout is Feb 29 **02:31:27**.

The test timer has a time (Feb 29 02:3

[2020-03-13 14:08] chengfang commented on #125
Just saw another test failure when running these tests with WildFly on Mar 12, 2020 near midnight.

[2020-03-14 01:59] bshannon commented on #163
Can you submit a Pull Request to fix these tests?

[2020-03-15 21:53] chengfang commented on #163
Sure, I'll give it a try.

[2020-03-19 19:12] scottmarlow commented on #163
Cheng, thanks for the fix, since your change is merged now to master, I will close this issue.

[2020-03-19 19:12] #163 closed

[2020-03-22 20:16] chengfang commented on #125
These tests have been failing frequently with WildFly. I just created the above PR with my patch.

[2020-03-24 16:57] kwsutter opened #172 "Move JSP-related XSD out of TCK project"
Per the [Platform call this morning](https://docs.google.com/document/d/1EJ2ilaPhMnQqa3aw6AmwjRbBPGL3_np4uuwklgfqPZI/edit#), it was highlighted that the web-jsptaglibrary_2_1.xsd only resides in this jakartaee-tck repository.  Our educated guess is that this is not the proper location.  Should it move the JSP repo?  Or, the Platform jakartaaee-schemas repo?

https://github.com/eclipse-ee4j/jakarta

[2020-03-26 15:21] scottmarlow commented on #172
For reference [ReferencesToweb-jsptaglibrary_2_1.xsd.txt](https://github.com/eclipse-ee4j/jakartaee-tck/files/4388040/ReferencesToweb-jsptaglibrary_2_1.xsd.txt) contains output from:
`grep -ri web-jsptaglibrary_2_1.xsd > /tmp/ReferencesToweb-jsptaglibrary_2_1.xsd.txt`

It looks like the TCK is using [http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd](http://java.sun.com/xml/ns/javaee/web

[2020-03-26 15:26] scottmarlow commented on #172
IMO, based on not seeing anything in the TCK source that would result in (web) hosting the web-jsptaglibrary_2_1.xsd file (as far as I can tell), it should be moved to the Platform jakartaee-schemas repo.

@jansupol do you agree?

[2020-03-26 22:12] olamy opened #177 "Test depending on annotations scanning but web.xml has version="2.5""
The test com.sun.ts.tests.servlet.api.javax_servlet_http.httpservletrequestwrapper#changeSessionIDTest1 need the HttpSessionIdListener from TCKHttpSessionIDListener activated via annotations https://github.com/eclipse-ee4j/jakartaee-tck/blob/c457c40af61d307b0dea0e0489fed7ab4c3e8490/src/com/sun/ts/tests/servlet/api/javax_servlet_http/httpservletrequestwrapper/TCKHttpSessionIDListener.java#L27
But t

[2020-03-27 22:37] markt-asf commented on #177
I recommend resolving this as invalid based on the text in section 1.6.1 of the Servlet 4.0 specification.

in a web application. An implementation of a particular version of the specification
MUST scan for all annotations supported in that configuration, unless metadata-
complete is specified.

(I can't close this issue as I'm not a TCK committer.)

[2020-03-29 21:57] chengfang commented on #136
We are seeing more of these failures when running with WildFly.  So I tried a fix in the above PR. Basically changing 1-second-later timers to 2-second-later timers for those tests affected by this issue.

[2020-03-30 13:37] janbartel commented on #177
As the spec does now contain this text, I agree this issue can be closed:  I disagree that this particular text should have been added to the spec in the first place, however that is beyond the scope of this issue.

[2020-03-31 01:38] bshannon commented on #177
Annotations are available independent of the web app descriptor syntax version.
(Think of the descriptor version as similar to the charset - it tells you how to interpret
the format of the descriptor, it says nothing about the semantics of the content nor
of the associated APIs.)

If the test has a web app 2.5 version description and does not set metadataComplete,
then the app is expecting annotat

[2020-03-31 12:50] janbartel commented on #177
@bshannon in servlet 2.5 metadata-complete=false or missing just meant that the webapp could use a few common annotations like @Resource etc etc.  It did not imply scanning of the whole webapp: that is a container implementation detail - some containers did not scan but just introspected individual servlet artifacts before putting them into service.

Thus, a webapp that had not changed _at all_ bu

[2020-03-31 17:25] bshannon commented on #177
There's a separate description of which files need to be scanned, but it comes down to
effectively every class because of the CDI requirements.

Yes, this is a risk.  Most of the products have done work to optimize the scanning,
but given a very large legacy app that scanning can be non-trivial part of the
deployment time.

I have less sympathy for files that used the annotations and expected them

[2020-03-31 17:25] bshannon commented on #177
And to close the loop, we agree there's nothing wrong with the TCK test based
on the current spec, correct?

[2020-04-01 01:29] bshannon opened #181 "signaturetest README file is out of date"
The file src/com/sun/ts/tests/signaturetest/README is quite out of date in spots.
It still refers to SCCS commands.  Someone who understands what it should say
should review it and update the entire file.  I'm sure there's lots of other things
out of date as well.

[2020-04-01 01:33] bshannon commented on #181
Ditto the signature-repository/README file.

[2020-04-01 02:13] kwsutter commented on #172
Looks like @bshannon discovered that this XSD was missed on the contribution to Eclipse.  He just submitted a CQ to get this schema contributed to the Platform project.  Once that's completed, then this Issue can be Closed.
https://dev.eclipse.org/ipzilla/show_bug.cgi?id=21868

[2020-04-01 08:16] janbartel commented on #177
Considering that the genie was already let out of the bottle and it's too late to stuff it back in, I agree that this test is spec compliant. I would personally rather see this test deleted as it highlights a less than stellar aspect of the spec, but I'm fine if consensus is to keep it.

[2020-04-01 10:29] markt-asf commented on #177
To quote Jan Luehe quoting bshannon back in 2009 in the Servlet 3.0 EG:

I'd forgotten this and have just found it again. I'm adding it here as I think it is useful to have this sort of concept in mind as we continue to develop Jakarta EE as it helps us keep things consistent.

[2020-04-01 14:44] Tomas-Kraus opened #184 "jakarta.ejb.SessionContext#getMessageContext() was removed from API"
Tests that are using jakarta.ejb.SessionContext#getMessageContext() can't be build because `SessionContext` does not contain this method in current release.

I commented out those pieces of code in https://github.com/eclipse-ee4j/jakartaee-tck/pull/182 but it may require closer review.

[2020-04-01 15:45] scottmarlow commented on #184
I found this first mentioned on [jakartaee-platform-dev/msg00895](https://www.eclipse.org/lists/jakartaee-platform-dev/msg00895.html) and it looks like the git commit that applied the change is [eclipse-ee4j/ejb-api commit 79e61326](https://github.com/eclipse-ee4j/ejb-api/commit/79e61326e4ae0c96d15a46bc38d302e29b0ab3fa#diff-cc86a6cd3329955fcef82986e55487db)

[2020-04-01 15:49] scottmarlow commented on #184
We can cross reference the tally of the voting to remove Jakarta XML RPC  JSR 101 from Jakarta EE 9, to confirm this method should indeed be missing and the TCK updated to not test jakarta.ejb.SessionContext#getMessageContext()

[2020-04-01 15:55] bshannon commented on #177
Thanks @markt-asf, there's a continuing temptation to base program behavior on
the data file format and we need to resist that temptation.  As I also said above, it's
like changing the API behave based on the charset used to encode the data.  That
would be wrong.

[2020-04-01 16:38] scottmarlow commented on #184
Yeah, https://blogs.oracle.com/javamagazine/transition-from-java-ee-to-jakarta-ee mentions that JAX_RPC is pruned.

[2020-04-02 09:18] RohitKumarJain commented on #133
@chengfang , I have raised a PR : https://github.com/eclipse-ee4j/jakartaee-tck/pull/185

thanks

[2020-04-02 09:21] RohitKumarJain commented on #124
@chengfang , are we good to close this issue? As I can see PR is merged.

[2020-04-02 13:20] #124 closed

[2020-04-02 15:17] Tomas-Kraus commented on #184
Affected sources:
- src/com/sun/ts/tests/ejb/ee/bb/session/stateless/bm/allowedmethodstest/TestBeanEJB.java
- src/com/sun/ts/tests/ejb/ee/bb/session/stateless/cm/allowedmethodstest/TestBeanEJB.java
- src/com/sun/ts/tests/ejb/ee/webservices/allowedmethodstest/bm/TestBeanEJB.java
- src/com/sun/ts/tests/ejb/ee/webservices/allowedmethodstest/cm/TestBeanEJB.java
- src/com/sun/ts/tests/ejb30/common/allo

[2020-04-08 10:21] Tomas-Kraus opened #195 "Adopt jakarta.persistence in JPA tests."

[2020-04-08 13:21] Tomas-Kraus commented on #195
PR https://github.com/eclipse-ee4j/jakartaee-tck/pull/196 is ready to be merged.

[2020-04-14 13:27] scottmarlow commented on #195
Closing as pr is merged. thanks again @Tomas-Kraus!

[2020-04-14 13:27] #195 closed

[2020-04-14 13:42] Tomas-Kraus commented on #195
Thanks. I'll setup EclipseLink job to verify if JPA tests works.

[2020-04-16 13:23] scottmarlow opened #207 "tracker for completion of Platform 9.0.0 TCK"
1. Complete the javax => jakarta class namespace changes  [done]
2. Complete the [javax => jakarta file name changes ](https://github.com/eclipse-ee4j/jakartaee-tck/issues/229)  [ 100% done ]
3. [Remove EJB interoperability](https://github.com/eclipse-ee4j/jakartaee-tck/issues/208)  [done ]
4.  [Remove Jakarta XML Registries](https://github.com/eclipse-ee4j/jakartaee-tck/issues/209)  [done ]
5.  [

[2020-04-17 01:40] scottmarlow opened #208 "Remove EJB interoperability testing"
As per [JakartaEE9ReleasePlan](https://eclipse-ee4j.github.io/jakartaee-platform/jakartaee9/JakartaEE9ReleasePlan) remove testing of Distributed Interoperability (EJB 3.2 Core Specification, Chapter 10)

[2020-04-17 01:42] scottmarlow opened #209 "Remove test of Jakarta XML Registries"
As per [release plan](https://eclipse-ee4j.github.io/jakartaee-platform/jakartaee9/JakartaEE9ReleasePlan), look for references to javax.xml.registry + javax.xml.registry.infomodel and remove tests.

[2020-04-17 01:46] scottmarlow opened #210 "Remove Jakarta XML RPC testing"
As per [release plan](https://eclipse-ee4j.github.io/jakartaee-platform/jakartaee9/JakartaEE9ReleasePlan), remove testing of: javax.xml.rpc, javax.xml.rpc.encoding, javax.xml.rpc.handler, javax.xml.rpc.handler.soap, javax.xml.rpc.holders, javax.xml.rpc.server, javax.xml.rpc.soap.

[2020-04-17 01:49] scottmarlow opened #211 "Remove use of Jakarta Deployment"
Look for use of Jakarta Deployment and remove use of: javax.enterprise.deploy.model, javax.enterprise.deploy.model.exceptions, javax.enterprise.deploy.shared, javax.enterprise.deploy.shared.factories, javax.enterprise.deploy.spi, javax.enterprise.deploy.spi.exceptions, javax.enterprise.deploy.spi.factories, javax.enterprise.deploy.spi.status

Also document impact on use of Platform TCK.

[2020-04-17 01:51] scottmarlow opened #212 "Remove use of Jakarta Management"
Look for + remove use of: javax.management.j2ee, javax.management.j2ee.statistics

Document any impact on users of Platform TCK.

[2020-04-17 01:56] scottmarlow opened #213 "Update TCK tests for JDK 11"
Need to update TCK tests as needed for JDK 11.  See [Java SE Version](https://eclipse-ee4j.github.io/jakartaee-platform/jakartaee9/JakartaEE9ReleasePlan) section:

[2020-04-17 03:06] chengfang commented on #136
Added the following 2 tests to the list of failures in the issue description section:

[code]

[2020-04-17 17:17] scottmarlow commented on #212
Removing the tests for management, should be doable.  I don't see any other hard dependencies on management (also checked in https://github.com/openjdk/jtharness).

[2020-04-17 17:29] scottmarlow commented on #211
Regarding the impact of removing javax.enterprise.deploy, src/com/sun/ts/lib/porting/TSDeploymentInterface2.java is based on the deployment model, which is likely used by some Jakarta EE server implementations for testing against the Platform TCK.

Investigate the below classes to help determine the impact of removing Deployment:
src/com/sun/ts/lib/deliverable/cts/deploy/OperationStatus.java
src/c

[2020-04-20 14:44] janbartel commented on #44
I agree the test is flawed. At the very least the servlet and resource collection urls are wrong, and should have a trailing` '/*'`.  However, that said, I don't understand what is purported to be achieved with the request url containing a suffix of  '/j_security_check'.

[2020-04-20 19:29] scottmarlow commented on #162
@scottkurz I'm going to close this, as I think you completed the change needed.  Please reopen if more changes are needed.  Thanks again for helping!

[2020-04-20 19:29] #162 closed

[2020-04-20 19:41] scottmarlow commented on #213
This looks like it may be a duplicate of [issue#145](https://github.com/eclipse-ee4j/jakartaee-tck/issues/145) but will leave it open for now.  If we do close it as a duplicate, we should update [top level tracker issue #207](https://github.com/eclipse-ee4j/jakartaee-tck/issues/207) to refer to issue#145.

[2020-04-21 12:48] scottmarlow commented on #207
@bshannon @jansupol what other EE 9 Platform TCK tasks do we need to add to this tracker issue?  Thanks! :)

[2020-04-21 17:12] arjantijms commented on #211
@dblevins mentioned a blocker here could be that the TCK uses Jakarta Deployment itself to deploy tests unrelated itself to Jakarta Deployment.

However, the web profile doesn't have Jakarta Deployment, so at least everything in that profile must be using something else to deploy tests. Maybe the tests that now use Jakarta Deployment to deploy tests can be updated to use whatever the web profile t

[2020-04-21 18:27] scottmarlow commented on #211
True, GlassFish v6 will not likely include a JSR-88 implementation.  This will impact other EE implementations as well.

[2020-04-21 18:35] scottmarlow commented on #211
I need to refresh my memory on the TCK deployment interfaces.  I think your right but I forget what all of the options are.

I wonder if it would be allowed to repackage some JSR-88 impl + api classes under a different package name, so they could be used for deployment (along with updated com.sun.ts.lib.deliverable.cts.deploy classes that also use the repackaged JSR-88 classes).

[2020-04-22 00:42] bshannon commented on #207
Hopefully #10 would produce 9.0.0-SNAPSHOT or 9.0.0-b## artifacts.

I don't understand #11.  The current platform API jar file job pulls the artifacts from Maven, not from GlassFish.

Depending on the magnitude of changes, the TCK Users Guide will probably also need to be updated.

Don't forget that everything needs to be "duplicated" for full platform and web profile.

[2020-04-22 15:58] scottmarlow commented on #211
Jakarta EE implementations may currently use an implementation of com.sun.ts.lib.porting.TSDeploymentInterface2 (JSR-88 based) + com.sun.ts.lib.porting.TSDeploymentInterface (not JSR-88 based), for running the Platform TCK.

So, I think there are a few options to choose from that are worth raising on a mailing list for discussion:

- Least impact on setting up to run the Jakarta EE 9 Platform TCK

[2020-04-22 17:04] scottmarlow commented on #207
Currently, as per comment in [docker/build_jakartaeetck.sh#L98](https://github.com/eclipse-ee4j/jakartaee-tck/blob/master/docker/build_jakartaeetck.sh#L98), we are temporarily pulling the artifacts from Maven, until we have GlassFish v6 with new api jars.

I like the idea of downloading API jars from Maven, instead of copying them from GlassFish.  Apparently, we didn't do that before.

[2020-04-22 22:46] bshannon commented on #207
I think we should keep pulling them from Maven.  I'll see if I can find out the history of why
we didn't always do that.

[2020-04-23 14:35] scottmarlow commented on #213
Another thing that we could do is determine whether its quicker to compare for the exact set of "javax..." sequences that we have to match against, versus matching against the set of "javax..." that we know do not match.

For example, the set of "javax..." sequences that we will match against, are shown in [ASM TransformerImpl.java#L304](https://github.com/wildfly-extras/batavia/blob/master/impl/a

[2020-04-23 14:56] scottmarlow opened #219 "Update signature tests for JDK 8/11"
[Follow instructions Signature-Tests-in-JakartaEE-TCK-for-JDK11 instructions for JDK 11](https://github.com/eclipse-ee4j/jakartaee-tck/wiki/Signature-Tests-in-JakartaEE-TCK-for-JDK11).

Also consider [updating signaturetest README for issue#181](https://github.com/eclipse-ee4j/jakartaee-tck/issues/181) when updating signatures for JDK 8 as well as for JDK 11.

[2020-04-23 15:14] scottmarlow commented on #213
[Found ee4j_build mailing list conversation about switching jdk](https://www.eclipse.org/lists/ee4j-build/msg00217.html), we can try this soon.

[2020-04-24 21:38] cesarhernandezgt opened #221 "javax.jms => jakarta.jms"
Search and replace to update javax namespace class references for jsm.

Email thread:
https://www.eclipse.org/lists/jakartaee-tck-dev/msg00407.html

[2020-04-24 22:51] olamy opened #223 "servlet TCK update to jakarta namespace"
work started here https://github.com/olamy/jakartaee-tck/tree/servlet_jakarta

[2020-04-27 21:07] scottmarlow commented on #207
Should we block the Platform TCK 9.0.0 release on #15 being done?  I think yes, as per Platform mailing list vote on Jan 21 results that were in favor of:
[code]

[2020-04-29 19:12] scottmarlow opened #226 "javax.faces => jakarta.faces"

[2020-04-30 13:26] scottmarlow commented on #211
Note feedback from [jakartaee-platform-dev ml discussion on April 22, 2020](https://www.eclipse.org/lists/jakartaee-platform-dev/threads.html#01700).

Also [Platform meeting notes for April 28, 2020](https://eclipse-ee4j.github.io/jakartaee-platform/minutes/2020-04-28.html)

[2020-04-30 21:46] andymc12 commented on #114
This can probably be closed since JAXR is being removed from the TCK - see issue #209

[2020-04-30 21:49] scottmarlow opened #228 "javax.jws => jakarta.jws Jakarta Web Services Metadata"
We still have references to javax.ws classes, as I noticed the following Platform TCK compile error:
[code]
The src/ts/tests/appclient/deploy/metadatacomplete/testapp/HelloImpl.java is importing javax.jws.WebService, there are other references to javax.jws package as well.

Suggested action is search and replace, something like:
[code]
Be sure to revert changes to signaturetest folder and update C

[2020-04-30 22:28] edbratt commented on #207
Perhaps after (2) this project should start producing snapshot stand-alone TCKs for the API and Implementation teams to use in their work.

[2020-04-30 22:34] edbratt commented on #207
Consider if this effort should change the stage names. In CI properties and in test output, these use legacy names (i.e. jaspic, jacc, etc.).

[2020-05-01 01:23] #221 closed

[2020-05-01 12:24] sawadood commented on #210
I will work on this issue

[2020-05-01 13:41] scottmarlow commented on #114
Thanks @andymc12, closing due to reason you stated (JAXR (javax.xml.registry) being pruned from Jakarta EE 9).

[2020-05-01 13:41] #114 closed

[2020-05-01 15:24] scottmarlow opened #229 "Complete the javax => jakarta file name changes"
Rename the folders (+ files) like src/com/sun/ts/tests/jsf/api/javax_faces after package change to jakarta namespace is done.

[2020-05-01 15:25] #226 closed

[2020-05-03 17:52] scottmarlow opened #231 "javax.security => jakarta.security"
Will cover:
ag --ignore .git  -l javax.| xargs sed -i 's/javax\.security\.auth\./jakarta\.security\.auth\./g'
ag --ignore .git  -l javax.| xargs sed -i 's/javax\.security\.enterprise\./jakarta\.security.enterprise\./g'
ag --ignore .git  -l javax.| xargs sed -i 's/javax\.security\.jacc\./jakarta\.security\.jacc\./g'

[2020-05-05 16:13] scottmarlow opened #234 "javax.annotation => jakarta.annotation"
Rename javax.annotation => jakarta.annotation as needed.
Also figure out why Jakarta SPEC JAR + JDK have some common classes:

Output from jar tf /tmp/jakarta.jakartaee-api-9.0.0-RC1.jar | grep jakarta.annotation:
[code]

jdk has:
[code]

[2020-05-05 16:19] scottmarlow opened #235 "more javax.el => jakarta.el changes needed"
We missed some javax.el source references, find + replace them.

[2020-05-05 16:23] scottmarlow opened #236 "Some javax.persistence => jakarta.persistence changes are needed still"
Find and fix them

[2020-05-06 13:33] scottmarlow commented on #208
Thank you @gurunrao for volunteering!  :+1:

[2020-05-06 15:35] scottmarlow opened #239 "Update configuration settings for GlassFish 6.0 configuration"
Update create.jacc.vm.options in bin/xml/impl/glassfish/common.xml, as the following is wrong, as [per](https://github.com/eclipse-ee4j/jakartaee-tck/pull/237#discussion_r420575898):
`<param name="jvm.options" value=" -Djakarta.security.jacc.policy.provider=com.sun.ts.tests.jacc.provider.TSPolicy"/>
`

[2020-05-06 15:56] alwin-joseph commented on #239
If I am right, the new glassfish with jakarta changes will accept the new property jakarta.security.jacc.policy.provider. Hence the change in jakartaee-tck repo to use jakarta is the right thing. I mentioned this since as of now I see jakartaee-tck build failure due to issue with wrong property name used, as we are not using the latest glassfish.

Also I hear that latest glassfish build has been s

[2020-05-06 17:09] scottmarlow commented on #223
@olamy any estimate for completion?  Thanks!  -Scott

[2020-05-06 17:54] #231 closed

[2020-05-06 19:24] scottmarlow opened #240 "more javax.faces => jakarta.faces changes needed"

[2020-05-07 01:53] chengfang commented on #136
Added the following test to the list of failures in the issue description section:

[code]

I'll update the PR to include fix for this test directory as well.

[2020-05-07 01:58] olamy commented on #223
@scottmarlow sorry I was changing all the build chain here to chain building everything: tck -> jetty -> tck run against fresh jetty build.
It's now done so it's easier for me to work on that.
I'm now trying to understand why I have 50 failures with the jakarta namespace vs 17 with javax.
I need to investigate if it's due to my changes in TCK or Jetty issue because I  should have at least the same

[2020-05-07 02:00] #177 closed

[2020-05-07 09:30] RohitKumarJain commented on #228
required changes are present under: https://github.com/eclipse-ee4j/jakartaee-tck/commit/1ffee94c59a920907b3280a4fac2704252fc47e7

[2020-05-07 11:25] alwin-joseph commented on #228
@RohitKumarJain I reviewed the commit, the changes look fine to me. Please create a PR from next time.

+ @scottmarlow

[2020-05-07 14:54] RohitKumarJain commented on #228
sure @alwin-joseph

[2020-05-08 01:24] scottmarlow commented on #235
Thanks @alwin-joseph!

[2020-05-08 01:24] #235 closed

[2020-05-08 12:34] scottmarlow opened #244 "change JDK javax.security.* classes from jakarta.security, back to javax.security"
Note from @alwin-joseph:

[code]

[2020-05-08 12:50] scottmarlow commented on #244
List of packages/classes in jakarta.jakartaee-api-9.0.0-RC1.jar:
[code]

List of javax/security directories from JDK 1.8 src:
[code]

[2020-05-08 12:53] scottmarlow commented on #244
So, it looks like jakarta.security.auth.message references are fine, but all other jakarta.security.auth references should be changed back to javax (for javax.security.auth. {callback, kerberos, login, spi, x500}).

[2020-05-08 13:14] scottmarlow commented on #244
ag --ignore .git  -l jakarta.security.auth.callback| xargs sed -i 's/jakarta\.security\.auth\.callback/jakarta\.security\.auth\.callback/g'

ag --ignore .git  -l jakarta.security.auth.kerberos| xargs sed -i 's/jakarta\.security\.auth\.kerberos/jakarta\.security\.auth\.kerberos/g'

ag --ignore .git  -l jakarta.security.auth.login| xargs sed -i 's/jakarta\.security\.auth\.login/jakarta\.security\.au

[2020-05-08 15:50] alwin-joseph commented on #244
@scottmarlow
Looks like there are 2 more packages in jdk8 to be changed.
javax.security.auth.Subject
javax.security.auth.AuthPermission.
Please let me know if I can try out to fix the remaining compilation issues.

[2020-05-08 16:14] scottmarlow commented on #244
Oops, thanks @alwin-joseph, I will do those now.

[2020-05-08 17:45] RohitKumarJain commented on #236
To address this issue, I have raised a PR: https://github.com/eclipse-ee4j/jakartaee-tck/pull/249

[2020-05-08 20:32] alwin-joseph commented on #210
As I understand this issue is for removing jaxrpc tests.

In the jakartaee-tck tests we have  javax.xml.rpc.* packages used in several tests. The methods in the javax.xml.rpc.* packages return objects of type javax.* Since other packages are renamed to jakarta.* , the objects returned from javax.xml.rpc.* will issue compatibility error as it is currently for the jakartaee-tck build.

For eg:

1. [

[2020-05-08 22:25] scottmarlow commented on #210
Good questions, thanks for looking into this issue @alwin-joseph to ask these questions.  We are planning to prune JAX-RPC from Jakarta EE 9, so I think we need to remove the tests that depend on javax.xml.rpc (under src/com/sun/ts/tests/webservices + src/com/sun/ts/tests/ejb/ee/webservices + src/com/sun/ts/tests/jaxrpc/ +  src/com/sun/ts/tests/internal/implementation/sjsas).

Are you concerned ab

[2020-05-08 23:33] scottmarlow commented on #210
Also, another [reference is the TCK ML conversation here about removing tests for pruned technologies](https://www.eclipse.org/lists/jakartaee-tck-dev/msg00405.html).

[2020-05-09 13:20] scottmarlow commented on #244
Interesting to note from [pull 250](https://github.com/eclipse-ee4j/jakartaee-tck/pull/250), that "import jakarta.security.auth.*" will only bring in Jakarta EE 9 classes and "import javax.security.auth.*" will only bring in JDK classes.

[2020-05-09 13:20] #244 closed

[2020-05-10 01:25] #240 closed

[2020-05-10 11:00] olamy commented on #45
@alwin-joseph @RohitKumarJain  please reopen or please revert the revert

[2020-05-10 17:48] alwin-joseph commented on #45
Reverting the revert in https://github.com/eclipse-ee4j/jakartaee-tck/pull/251

[2020-05-10 20:53] olamy commented on #45
Thanks!

[2020-05-11 05:37] alwin-joseph commented on #210
Thanks for the details.

Okey. So apart from removing the src/com/sun/ts/tests/jaxrpc we also remove the references of javax.xml.rpc from other suites. Just wanted to confirm that removing the pruned technology references and the dependent tests from other suites is the right way. I was thinking that if a test is using javax.xml.rpc(eg. src/com/sun/ts/tests/webservices/handler/HandlerSec/ServerHan

[2020-05-11 11:16] alwin-joseph commented on #229
Folder name changes required for below to jakarta*:

src/com/sun/ts/tests/servlet/api/javax_servlet
src/web/jsp/api/javax_servlet
src/com/sun/ts/tests/jaxws/api/javax_xml_ws_handler_soap
src/com/sun/ts/tests/jaxws/api/javax_xml_ws_http
src/com/sun/ts/tests/jaxws/api/javax_xml_ws_handler
src/com/sun/ts/tests/jaxws/api/javax_xml_ws
src/com/sun/ts/tests/jaxws/api/javax_xml_ws_wsaddressing
src/com/sun

[2020-05-12 08:18] alwin-joseph opened #253 "Resolve errors in jakartaee-tck build"
The jakartaee-tck build needs to be fixed and the 12 sample tests need to pass.
This is run daily from the CI job to build jakartaee-tck 9 bundle : https://ci.eclipse.org/jakartaee-tck/job/jakartaeetck-nightly-build-master/

As more changes are made in the repo related to javax -> jakarta migration and removing pruned technologies, build will undergo further changes. This issue can track and repor

[2020-05-12 08:39] olamy opened #254 "Typo and wrong test in servlet tck"
There is a typo here https://github.com/eclipse-ee4j/jakartaee-tck/blob/a50bf877a5413b812fad569d116c38160ba0aa41/src/com/sun/ts/tests/servlet/spec/errorpage/SecondServletErrorPage.java#L40 `javax.serlvet.error.exception_type` rather than `javax.servlet.error.exception_type` so the test assert the value is null which is wrong because it should contains the class name of the exception. Test here: ht

[2020-05-12 13:46] scottmarlow commented on #211
Regarding deployment API, since EE 9 implementations can no longer depend on JSR-88, they will need to expose an equivalent facility in their EE implementations and have a Platform TCK replacement for the JSR-88 interfaces (e.g. the new TCK SPI for deployment) that they can adapt their EE server implementation to use, in their porting library.

@starksm64 is ^ what you had in mind regarding a new

[2020-05-12 14:02] scottmarlow commented on #211
Perhaps the new TCK deployment SPI could be a fork of the JSR-88 interfaces, only without the javax package (e.g. switch for jakarta).

[2020-05-12 14:58] scottmarlow commented on #223
I still see 1743 servlet references but assume those were not targeted by this issue. so we can create a new issue for remaining servlet references.

Thanks for the changes @olamy and testing as well!  Very much appreciated the extra effort of doing that!

[2020-05-12 21:33] olamy commented on #223
@scottmarlow why closing this? I still have to create my PR :)

[2020-05-12 21:40] olamy commented on #223
It's almost ready. Except I found this one https://github.com/eclipse-ee4j/jakartaee-tck/issues/254 during my tests.

[2020-05-12 21:45] scottmarlow commented on #223
Sorry about that @olamy, it is back open again.

[2020-05-12 21:46] olamy commented on #223
no worries. The PR is here #257
I will work on #254 but in a separate PR

[2020-05-13 12:53] mbarbero opened #259 "[releng] Cleanup https://ci.eclipse.org/jakartaee-tck/"
Hi,

Eclipse Foundation releng team here. We've noticed that your instance is using more than 500GB of disk space just for build history (logs+artifacts). See below the list of the 10 biggest jobs. Could you please run through them and clean up their build history (to keep less items)? Could you also please go through your other jobs and ensure that they are configured with a build discarder? We w

[2020-05-13 16:12] scottmarlow commented on #234
https://github.com/javaee/javax.annotation/tree/master/src/main/java/javax/annotation also has the same, giving that was in Java EE 8, it must be right, so I no longer have a question about the overlap between SE + EE.

[2020-05-13 21:53] markt-asf opened #260 "WebSocket TCK excessively slow and some tests unstable"
Running the standalone WebSocket test suite a significant number of tests take 10s of seconds when, given the actions of the test, they would be expected to take a second or two.

Reviewing the code identified a number of tests that were using a `CountDownLatch` incorrectly to wait for messages to arrive. The calls to `await() ` were timing out rather than the latch being released. The time waitin

[2020-05-13 22:10] #234 closed

[2020-05-13 22:10] scottmarlow commented on #234
Thanks @RohitKumarJain

[2020-05-13 22:11] markt-asf opened #262 "Exclude 2 WebSocket tests"
There is an [open bug against WebSocket](https://github.com/eclipse-ee4j/websocket-api/issues/228) that can't be fixed until Jakarta EE 10. The short version is that the return value for `Session.getRequestURI()` is not clearly defined in the specification. The TCK currently tests for a return value that is inconsistent with the consensus view of the correct return value. Therefore, the two tests

[2020-05-14 07:26] RohitKumarJain commented on #236
Closing this issue, as PR: https://github.com/eclipse-ee4j/jakartaee-tck/pull/249 has been merged and more pending action required.

[2020-05-14 07:26] #236 closed

[2020-05-14 07:29] RohitKumarJain commented on #228
@alwin-joseph , do we have any pending work for this issue? IMO, required work has been done and it can be closed.

[2020-05-14 14:49] scottmarlow commented on #262
Ah, interesting, is this targeted for Jakarta EE 9?

[2020-05-14 15:44] markt-asf commented on #262
Yes, we would like to get this test excluded in Jakarta EE 9. That will allow implementations to provide (or continue to provide in a number of cases) a "correct" / "better" return value and still pass the TCK. We don't want to change the test because that would create backwards compatibility issues for the implementations that currently pass the TCK.

[2020-05-14 16:06] cesarhernandezgt opened #265 "Update configuration settings for GlassFish 6.0 configuration"

[2020-05-14 16:06] cesarhernandezgt opened #266 "Update lib/schemas references (e.g. install, release, tests under src) to use either EE 9 or Jakarta EE 8 schemas (as per Jan 21, 2020 VOTE: backward compatibility for descriptor schemas). Also drop unused lib/schemas + lib/dtds"

[2020-05-14 16:06] cesarhernandezgt opened #267 "Run/pass TCK release CI jobs for Platform 9.0.0 TCK and all standalone TCKs (also do milestone release...)"

[2020-05-14 16:06] cesarhernandezgt opened #268 "Update TCK README.md + wiki"

[2020-05-14 16:06] cesarhernandezgt opened #269 "After GlassFish 6.0 passes all standalone/Platform TCKs, run TCK release jobs"

[2020-05-14 16:06] cesarhernandezgt opened #270 "Update scripts to copy final Jakarta EE 9 spec api jars from GlassFish"

[2020-05-14 16:07] cesarhernandezgt opened #271 "Update Jenkins CI jobs to release nightly build of 9.0.0 platform TCK"
This will produce 9.0.0-SNAPSHOT or 9.0.0-b## artifacts

[2020-05-14 18:52] scottmarlow commented on #211
I'm guessing that @dblevins is talking about the com/sun/ts/tests/servlet/ee/platform/negdep tests calling Jakarta Deployment classes, with regard to the TCK using Jakarta Deployment itself to deploy tests unrelated to Jakarta deployment.

Currently, the src/com/sun/ts/lib/harness/keyword.properties file has the negdep tests as javaee_web_profile_optional but that doesn't really help us, but thoug

[2020-05-14 19:28] scottmarlow commented on #223
@olamy I still see about 2695 lines (697 files) referencing javax.servlet.  Are you planning on updating those also?  No problem if not, just trying to coordinate who is doing what.  Thanks!

[2020-05-15 01:34] olamy commented on #223
@scottmarlow ok I can do the job this is jsp, jsf, ejb30, webservices.
My issue is testing that. I can setup some tests especially for jsp (in my case testing with Jetty).
But to be fair the other parts will not have the same level of testing as servlet/jsp .
I need to setup some CI stuff to have a chain building jsp tck then testing it with jsp then I will be more confident with my changes.

[2020-05-15 13:41] scottmarlow commented on #270
Updated description here and in top level tracker, to instead use final released SPEC API jars.

[2020-05-15 13:54] scottmarlow commented on #254
In summary, the impacted test is currently ignored in all 8.0.x releases of the Jakarta EE Platform TCK, which hides a problem that @olamy is reporting via this issue.  @olamy will submit a pull request that corrects the typo, so that the test will actually run.  @olamy still needs to explain why the test (after typo is corrected) is not Servlet SPEC compliant and what the correction will be (perh

[2020-05-15 14:01] scottmarlow commented on #253
@alwin-joseph do you agree with [Bill's comment here](https://github.com/eclipse-ee4j/jakartaee-tck/issues/207#issuecomment-618078789) that we should download the SPEC API jars from Maven repo, instead of using the SPEC API jars contained in GlassFish?

I updated the [top level tracker issue](https://github.com/eclipse-ee4j/jakartaee-tck/issues/207) and [issues/270](https://github.com/eclipse-ee4j

[2020-05-15 14:09] scottmarlow commented on #265
Sorry @cesarhernandezgt , just noticed that this is a dup of [issue#239](https://github.com/eclipse-ee4j/jakartaee-tck/issues/239).

[2020-05-15 14:09] #265 closed

[2020-05-15 15:49] alwin-joseph commented on #253
I think we should follow Bill's suggestion here to continue using the SPEC API jars from maven to get the TCK builds passing although I believe the latest glassfish jars will be same as getting from maven. We need the jars only for compiling the code during the TCK build.
For building jaxws sources I see that wsgen tool require the api-jar in tools.jar path(in ts.jte)

[2020-05-15 16:37] alwin-joseph commented on #229
https://github.com/eclipse-ee4j/jakartaee-tck/pull/274 covers below
 -src/com/sun/ts/tests/internal/implementation/sjsas/saaj/com/sun/xml/messaging/saaj/api/javax_xml_soap
 -src/com/sun/ts/tests/saaj/api/javax_xml_soap

Some of the *javax_servlet* replacing might covered in other changes.
*javax_xml_ws* are pending, need to check if more javax file name changes.

[2020-05-15 19:31] scottmarlow commented on #211
Regarding the tests that deploy tests unrelated itself to Jakarta Deployment, they appears to be under com/sun/ts/tests/servlet/ee/platform/negdep, which I think are technically Jakarta Deployment related as per how they are classified in keyword.properties:

`com/sun/ts/tests/servlet/ee/platform/negdep = javaeedeploy javaeedeploy_optional javaee_optional javaee_web_profile_optional`

So, if we pr

[2020-05-15 19:46] scottmarlow commented on #211
Since GlassFish 6.0 is expected to remove the pruned Jakarta Deployment classes, what should the com.sun.ts.lib.implementation.sun.javaee.SunRIDeployment2 use instead of Jakarta Deployment?

[2020-05-15 19:56] scottmarlow commented on #211
Could GlassFish 6.0 switch to use com.sun.ts.lib.porting.TSDeploymentInterface based deployment via com.sun.ts.lib.implementation.sun.javaee.glassfish.AutoDeployment?

Some comments from AutoDeployment:
[code]

[2020-05-15 20:06] scottmarlow commented on #211
It seems to me that the Jakarta Platform TCK already has a standard SPI that can work without Jakarta Deployment and that is com.sun.ts.lib.porting.TSDeploymentInterface, so no new SPIs are needed.

Instead, I think that any user that depends on the current com.sun.ts.lib.porting.TSDeploymentInterface2 should be able to switch to com.sun.ts.lib.porting.TSDeploymentInterface which doesn't depend on

[2020-05-16 02:15] scottkurz commented on #219
I would like to understand this area better since Batch has its own standalone TCK that I'd also like to produce the signature tests for, in addition to helping, if possible, with the platform TCK.

I thought a simple first step would be to just try running the Java 11 Batch sig tests against the platform milestone API JAR and eventually the batch CI... however I was unable to get this to work.
I'

[2020-05-16 02:18] scottkurz opened #275 "Can't run Batch signature tests"
I would like to understand this area better since Batch has its own standalone TCK that I'd also like to produce the signature tests for, in addition to helping, if possible, with the platform TCK.

I thought a simple first step would be to just try running the Java 11 Batch sig tests against the platform milestone API JAR and eventually the batch CI... however I was unable to get this to work.
I'

[2020-05-17 09:43] markt-asf commented on #275
When running the standalone EL and WebSocket tests I used soemthing like this:
[code]

In short, I added `${java.home}/lib/modules${pathsep}` to the start of `sigTestClasspath`. This then works with both Java 8 and Java 11.

Looking at your call above I think you need to make a similar adjustment to the class path you use.

[2020-05-17 21:48] olamy commented on #223
#276  tested with Jetty

[2020-05-18 11:55] scottkurz commented on #275
I figured it out.. It wasn't the path to the modules that was the issue, it was the relative path to the API jar that I messed up !

I was using "api.jar"  but it needed to be "./api.jar". (Or I could have used an absolute pathname).  Maybe classic mistake but haven't built a classpath in awhile.

So what worked (for Open JDK) was:

## JDK 11
[code]

## JDK 8
[code]

@markt-asf appreciate your sug

[2020-05-18 11:55] #275 closed

[2020-05-18 15:35] alwin-joseph commented on #275
Hi @scottkurz : Ideally Mark's suggestion should work. If it doesn't can you try to extract the jdk11 modules as below and use that in the classpath for jdk11.
-jimage extract --dir ${java.home}/extract/classes ${java.home}/lib/modules
-Use ${java.home}/extract/classes in the classpath to run the test.

On another note, the current sig file  jakarta.batch.sig_1.0_se11 would need some correction as

[2020-05-18 15:38] alwin-joseph commented on #275
I see that you were able to run the test. Please ignore my comments on running the test.

[2020-05-18 16:14] scottkurz commented on #275
Thx @alwin-joseph for the suggestion.  I will take a look at the above next change I get.

(BTW, I would open a bug/issue on the sigtest repo but I don't have an OpenJDK id registered so didn't bother.   It'd be nice, if it's going to complain about an invalid classpath entry, if it would say which one is invalid.   Just thinking out loud here.)

[2020-05-18 23:15] #262 closed

[2020-05-19 01:31] scottmarlow commented on #260
+100 for this issue, will be nice to have a faster standalone WebSocket test run!  Thanks @markt-asf in advance for the correction!

[2020-05-19 09:22] markt-asf commented on #260
See PR #261

[2020-05-19 11:48] RohitKumarJain commented on #228
@alwin-joseph , can we close this issue?

[2020-05-19 12:41] RohitKumarJain commented on #229
@alwin-joseph , would you like me to work on javax_xml_ws --> jakarta_xml_ws ? If it's not being taken care of by anyone?

[2020-05-19 12:46] alwin-joseph commented on #229
Yea sure. Please check what are the pending javax_* filenames that can be changed to jakarta_* in the list.

[2020-05-19 13:31] RohitKumarJain commented on #229
Sure I'll check and update here while creating individual PRs for each change with respect to the above list.

[2020-05-19 13:50] scottmarlow commented on #253
I'm not sure if https://ci.eclipse.org/jakartaee-tck/job/build-glassfish/ will build but the same maven command line worked locally for me, so it should.

It basically clones https://github.com/eclipse-ee4j/glassfish.git and does "mvn -Pstaging install -DskipTests=true".

If that works, perhaps we should update it to run daily (and change the name to reflect that its daily/nightly, whatever).

[2020-05-19 14:17] scottmarlow commented on #210
@sawadood how are the Platform TCK changes for this issue going?

[2020-05-19 14:22] scottmarlow commented on #253
@alwin-joseph can you use help from others with this issue?  If yes, we should mention that on the TCK mailing list.  I'll mention this issue as well on the TCK status update I'm sending now to the TCK mailing list.

[2020-05-19 14:58] RohitKumarJain commented on #229
I have tried to compile below list based on the pending javax* to jakarta* files and references renaming of TCKs:
Completed:

javax_servlet to jakarta_servlet
javax_servlet_http to jakarta_servlet_http
javax_xml_soap to jakarta_xml_soap

Pending:

javax_xml_ws to jakarta _xml_ws
javax_xml_ws_handler to jakarta_xml_ws_handler
javax_xml_ws_handler_soap to jakarta_xml_ws_handler_soap
javax_xml_ws_htt

[2020-05-19 15:15] scottmarlow commented on #267
Create milestone Platform TCK release and create pr similar to [jakartaee/specifications/pull/150](https://github.com/jakartaee/specifications/pull/150)

[2020-05-19 15:50] RohitKumarJain commented on #229
https://github.com/eclipse-ee4j/jakartaee-tck/pull/278 covers below:

- jaxws/se/api/javax_xml_ws -----> jaxws/se/api/jakarta_xml_ws
- jaxws/api/javax_xml_ws      -----> jaxws/api/jakarta_xml_ws

[2020-05-19 20:41] scottmarlow opened #279 "Ensure that standalone TCK version numbers have been incremented"
More specifically, ensure that the standalone TCK version numbers have been incremented to their correct specification version for Eclipse Jakarta EE 9.  To do this, check the version numbers referenced in https://github.com/eclipse-ee4j/jakartaee-tck/tree/master/release/tools

[2020-05-20 08:49] RohitKumarJain commented on #229
https://github.com/eclipse-ee4j/jakartaee-tck/pull/280 covers below:

- jaxws/api/javax_xml_ws_handler -----> jaxws/api/jakarta_xml_ws_handler

[2020-05-20 09:07] RohitKumarJain commented on #229
https://github.com/eclipse-ee4j/jakartaee-tck/pull/281 cover below:

- javax_xml_ws_handler_soap -----> jakarta_xml_ws_handler_soap

[2020-05-21 09:24] RohitKumarJain commented on #229
https://github.com/eclipse-ee4j/jakartaee-tck/pull/282 covers below:

- javax_xml_ws_wsaddressing -----> jakarta_xml_ws_wsaddressing

[2020-05-21 09:45] RohitKumarJain commented on #229
https://github.com/eclipse-ee4j/jakartaee-tck/pull/283 cover below:

- javax_xml_ws_soap  -----> jakarta_xml_ws_soap

[2020-05-21 09:57] RohitKumarJain commented on #229
https://github.com/eclipse-ee4j/jakartaee-tck/pull/284 covers below:

- javax_xml_ws_http -----> jakarta_xml_ws_http

[2020-05-21 12:15] RohitKumarJain commented on #229
Closing this as required work has been done and merged.

[2020-05-21 12:23] #228 closed

[2020-05-21 12:51] RohitKumarJain commented on #229
Folder name and its reference (if applicable) change required in below locations from javax* to jakarta*:

1): src/com/sun/ts/tests/ejb30/lite/packaging/embed/provider/javax.ejb.spi.EJBContainerProvider
2): src/com/sun/ts/tests/jsf/spec/webapp/factoryfinder/META-INF/services/javax.faces.render.RenderKitFactory
3): src/web/jsf/api/javax_faces

[2020-05-21 19:00] alwin-joseph opened #285 "Remaining javax.xml.ws -> jakarta.xml.ws and javax_xml_ws -> jakarta_xml_ws changes"
Looks like the javax.xml.ws -> jakarta.xml.ws changes are pending for sources outside the jaxws TCK folder.

[2020-05-21 20:50] scottmarlow commented on #253
Thanks, I'll make this change.

On this, I wonder if it would be easier to first focus on using the latest glassfish jars (from either our build or glassfish project nightly build when available).

[2020-05-21 21:47] alwin-joseph commented on #253
I will try to use the glassfish bundle with the latest jars for the build and check if the wsgen issue get resolved by this. Otherwise the api jar we use is sufficient to get the build passing.

As of now, we would need below issues to be fixed for resolving the compilation errors in the platform TCK build :
https://github.com/eclipse-ee4j/jakartaee-tck/issues/210
https://github.com/eclipse-ee4j/j

[2020-05-22 10:00] RohitKumarJain commented on #285
This has been addressed in https://github.com/eclipse-ee4j/jakartaee-tck/pull/289

Thanks

[2020-05-22 14:26] scottmarlow commented on #285
@alwin-joseph @RohitKumarJain

Repeating here what I commented on the PR:

So I think the javax.xml.ws references should be okay, make sense?

[2020-05-22 15:34] alwin-joseph commented on #253
PR https://github.com/eclipse-ee4j/jakartaee-tck/pull/290 for this. The wsgen issues are resolved. I had to update the tools.jar in ts.jte to have webservices-tools.jar & webservices-api.jar in glassfish6. The tools.jar was initially set in install/jakartaee/bin/ts.jte  as "${jdk.home}/lib/tools.jar"  which has old apis in jdk8. So I think we need to use gf bundle and not jakartaee-api jar for bui

[2020-05-22 16:22] alwin-joseph commented on #285
Oh sorry, this is my mistake. I did not verify this. @RohitKumarJain Apologies that I created this issue.

[2020-05-22 16:34] alwin-joseph commented on #285
I found in the PR https://github.com/eclipse-ee4j/jakartaee-tck/pull/224 that javax.xml.ws was replaced with jakarta.xml.ws  within the jaxws sources. cc @Tomas-Kraus
The  https://repo1.maven.org/maven2/jakarta/xml/ws/jakarta.xml.ws-api/3.0.0-RC1/jakarta.xml.ws-api-3.0.0-RC1.jar was downloaded to fix the jaxws & platform tck build too. Shouldn't we be doing the same for other occurrences too.

[2020-05-22 18:20] scottmarlow commented on #285
Good find @alwin-joseph, so it sounds like we do need the update.

In a local glassfish6 build I also see the jakarta.xml.ws classes in glassfish/modules/webservices-api-osgi.jar.

[2020-05-22 23:38] #279 closed

[2020-05-26 01:06] scottmarlow commented on #253
@alwin-joseph should this issue also track updating build_standalone-tcks.sh also?

[2020-05-26 13:54] alwin-joseph opened #293 "Successfully build standalone TCKs that are generated from this repo"
The standalone TCKs that are build from jakartaee-tck repo needs This is built and run from the CI job  : https://ci.eclipse.org/jakartaee-tck/job/standalonetck-nightly-build-run-master/. The TCKs of pruned techs will not be generated.

1. The script docker/build_standalone-tcks.sh is used to build all those TCKs.  Currently there are compilation issues for several TCKs. Will update the issues and

[2020-05-26 13:55] alwin-joseph commented on #253
I think we can track the standalone tck build in a separate issue : https://github.com/eclipse-ee4j/jakartaee-tck/issues/293

[2020-05-26 15:47] scottmarlow commented on #210
@sawadood do you need help with making the changes for this?

[2020-05-26 20:50] markt-asf opened #294 "Standalone JSP TCK fails signature tests on Java 11"
There are multiple issues here:

- Not using the Jdk9SigTestDriver on Java 11
- When Jdk9SigTestDriver unnecessary packages in the signature files trigger different failures

I have fixes for all of this locally. I just want to run some final checks and then I'll provide a PR.

[2020-05-27 21:30] olamy commented on #254
@scottmarlow did you look at the PR #277 ?

[2020-05-28 01:47] scottmarlow commented on #254
@olamy does [PR#277](https://github.com/eclipse-ee4j/jakartaee-tck/pull/277) address the test failure as well?  Or does it only allow the test failure to occur?

[2020-05-28 01:50] olamy commented on #254
#277 is fixing the TCK. This means fixing the servlet request attribute name typo and so fix the corresponding assert/test

[2020-05-28 13:15] scottmarlow commented on #254
@olamy I thought that you said before that the test would fail after correcting the typo.  Ah, I see, so it is removing the "null" from what we are testing for.  Previously, the null, masked the fact that there is a typo "javax.serlvet.error.exception_type". :)

[2020-05-28 17:10] alwin-joseph opened #296 "Update lib/*jars in the repo"
JAXB jars in jakartaee-tck repo :

There are 4 jaxb jars - jaxb-api.jar, jaxb-core.jar, jaxb-impl.jar & jaxb-xjc.jar committed to the jakartaee-tck repo at https://github.com/eclipse-ee4j/jakartaee-tck/tree/master/lib . From what I understand the latest replacement of these 4 jars with jakarta changes are at [1] , [2], [3] & [4]. They are all present in https://repo1.maven.org/maven2/com/sun/xml/b

[2020-05-28 17:46] alwin-joseph commented on #293
Created https://github.com/eclipse-ee4j/jakartaee-tck/pull/297 to fix most of the standalone TCK builds.

Pending tasks :

1.  jaspic tck fails to build due to due to wsgen failure
jaspic standalone TCK build failure logs :
    [wsgen] Exception in thread "main" java.lang.RuntimeException: java.lang.NoClassDefFoundError: com/sun/xml/bind/v2/model/nav/Navigator
    [wsgen] Caused by: java.lang.NoCl

[2020-05-28 18:04] scottmarlow commented on #296
So, one question is whether the jars were produced by Eclipse Jakarta projects, I think that they were and have been approved for release (before being pushed to the Maven repo), as per project release plan links which I checked for these jars and you probably did as well.

Imo, we could replace the current ones in lib (e.g. use the current names) with the [1][2][3][4] jars as they do appear to be

[2020-05-29 08:17] RohitKumarJain commented on #229
Covered below pending changes:

1): src/com/sun/ts/tests/ejb30/lite/packaging/embed/provider/javax.ejb.spi.EJBContainerProvider
2): src/com/sun/ts/tests/jsf/spec/webapp/factoryfinder/META-INF/services/javax.faces.render.RenderKitFactory
3): src/web/jsf/api/javax_faces

under https://github.com/eclipse-ee4j/jakartaee-tck/pull/298

[2020-05-29 15:46] RohitKumarJain commented on #285
Closing this issue, as https://github.com/eclipse-ee4j/jakartaee-tck/pull/289 is merged and closed.

[2020-05-29 15:46] #285 closed

[2020-05-29 15:47] RohitKumarJain commented on #229
Closing this issue, as https://github.com/eclipse-ee4j/jakartaee-tck/pull/298 is merged and closed.

[2020-05-29 15:47] #229 closed

[2020-05-30 20:02] alwin-joseph commented on #253
I see that the wsgen failures have reappeared in https://ci.eclipse.org/jakartaee-tck/blue/organizations/jenkins/jakartaee-tck/detail/master/647/ ( https://github.com/eclipse-ee4j/jakartaee-tck/commit/366be6783ae90c3a486e29c2ba0997d9ee970126 )

There were no wsgen failures in https://ci.eclipse.org/jakartaee-tck/job/jakartaee-tck/job/master/637/ (https://github.com/eclipse-ee4j/jakartaee-tck/commi

[2020-06-01 05:53] alwin-joseph commented on #253
The current wsgen failures are due to the updated glassfish bundle with new metro jar (jaxb-osgi.jar)

from the logs :
    [wsgen] Exception in thread "main" java.lang.RuntimeException: java.lang.NoClassDefFoundError: com/sun/xml/bind/v2/model/nav/Navigator
    [wsgen] 	at com.sun.tools.javac.main.Main.compile(Main.java:553)
    [wsgen] 	at com.sun.tools.javac.api.JavacTaskImpl.doCall(JavacTaskImp

[2020-06-01 10:13] alwin-joseph commented on #253
This issue seem to be fixed in the latest build job https://ci.eclipse.org/jakartaee-tck/job/jakartaeetck-nightly-build-master/186/console as the new glassfish bundle was used.

[2020-06-01 10:24] alwin-joseph commented on #253
Current pending build issues : all related to pruned technologies.
Dirs:
src/com/sun/ts/tests/j2eetools
src/com/sun/ts/tests/ejb/ee/webservices/allowedmethodstest
src/com/sun/ts/tests/jaxr
src/com/sun/ts/tests/jaxrpc
src/com/sun/ts/tests/webservices

[2020-06-02 14:52] scottmarlow commented on #293
[jakartaee-tck-dev/msg00570.html](https://www.eclipse.org/lists/jakartaee-tck-dev/msg00570.html) mentions the reason why our freestyle [standalonetck-nightly-build-run-master](https://ci.eclipse.org/jakartaee-tck/job/standalonetck-nightly-build-run-master) job is running out of memory.  Eclipse CI defaults to small JNLP memory size as they don't know how big to make it (a small JNLP size may work

[2020-06-02 19:06] #208 closed

[2020-06-03 08:58] scottmarlow commented on #210
@sawadood since you haven't responded, I will see if others also want to help with this issue, as we need to resolve it soon.

[2020-06-03 12:23] scottmarlow commented on #223
@olamy is there any more work pending for this issue?

[2020-06-03 12:31] olamy commented on #223
Nope All done

On Wed, 3 Jun 2020 at 10:23 pm, Scott Marlow <notifications@github.com>
wrote:

--
Olivier Lamy
http://twitter.com/olamy | http://linkedin.com/in/olamy

[2020-06-03 13:14] scottmarlow commented on #223
Thanks @olamy !

[2020-06-03 13:15] #223 closed

[2020-06-03 14:19] scottmarlow opened #302 "Convert javax.xml.bind=jakarta.xml.bind"
We have a few references to javax.xml.bind still, that should be renamed in a few tests.  The same tests should be marked as optional (as per https://eclipse-ee4j.github.io/jakartaee-platform/jakartaee9/JakartaEE9ReleasePlan, see "Jakarta XML Binding (Optional)").

[2020-06-03 14:19] scottmarlow commented on #302
@alwin-joseph note that https://repo1.maven.org/maven2/javax/enterprise/deploy/javax.enterprise.deploy-api/1.7/javax.enterprise.deploy-api-1.7.jar doesn't have the jakarta.xml.bind interfaces.

[2020-06-03 16:21] scottmarlow commented on #302
keyword.properties updated to make the two tests that use jaxb optional:
[code]

[2020-06-03 18:12] scottmarlow opened #304 "replace old specification version references in file/file names with the current (for Jakarta EE 9) versions"
Check files like install/jakartaee/bin/sig-test.map, docs, other files for out of date version references.

[2020-06-03 22:11] scottmarlow commented on #210
Thank you @gurunrao for looking at this issue!

@sawadood I hope all is well with you!  Please do continue to contribute to this project in the future, when you can.  :)

[2020-06-03 22:54] dmkavanagh commented on #213
Anything a newbie can do to help?

[2020-06-04 09:33] alwin-joseph commented on #302
I was hoping the pending occurences of javax* packages would appear in the build logs. But javax.xml.bind in src/com/sun/ts/tests/webservices12/ejb/annotations/WSEjbWebServiceProviderTest/HelloBean.java and others did not come up in the build logs. Thanks for noticing.

[2020-06-04 13:53] alwin-joseph commented on #210
@gurunrao  @scottmarlow
Ed reminded that when there are references of pruned technologies in other tests, for eg jaxrpc package used in webservices, we can inform the corresponding implementation team that those tests will be removed from the tcks.

[2020-06-04 14:12] scottmarlow commented on #210
@alwin-joseph any recommendation for where the communication should occur?  Would pinging the related specification project lead in the pull request work?

[2020-06-04 14:23] alwin-joseph commented on #210
cc @edbratt

I think we can use the right email aliases https://accounts.eclipse.org/mailing-list/ or even create an issue in the corresponding repo mentioning the list of tests that will be removed.

[2020-06-04 17:11] alwin-joseph commented on #296
Fixed by https://github.com/eclipse-ee4j/jakartaee-tck/pull/299 .

 -DenableExternalEntityProcessing=true was added to ANT_OPTS to fix below parse issues with the latest xjc jar.
[xjc] Compiling file:/scratch/alwjosep/jakarta9/jakartaee-tck/lib/dtds/sun-application_6_0-0.dtd
   [xjc] [ERROR] External parsing is disabled. Cannot parse URI: file:/scratch/alwjosep/jakarta9/jakartaee-tck/lib/dtds/sun-

[2020-06-04 17:11] #296 closed

[2020-06-04 18:27] scottmarlow commented on #213
Excellent question @dmkavanagh
Once we know what the TCK failures are on JDK 11, help will be appreciated in updating (failing) tests to work on JDK 11 (as well as on JDK 8).

Thanks!

[2020-06-04 18:34] scottmarlow commented on #302
It is hard to notice, as the javax.xml.bind classes are in JDK 8, so no failures appeared.  I got lucky and noticed it for something else I was working on.

[2020-06-05 05:57] #294 closed

[2020-06-05 18:43] #302 closed

[2020-06-05 18:52] alwin-joseph commented on #293
Current status :

All the standalone TCKs are built without errors. The failures in the latest job run https://ci.eclipse.org/jakartaee-tck/job/standalonetck-nightly-build-run-master/52/junit-reports-with-handlebars/testSuitesOverview.html should be fixed.

[2020-06-08 18:20] scottmarlow commented on #293
@alwin-joseph do you recall if the messages about the following being [unresolved](https://ci.eclipse.org/jakartaee-tck/job/standalonetck-nightly-build-run-master), indicates a real problem?

    Unresolved
    jakartaee-tck/master

    Unresolved
    debugging-support-for-other-languages-tck/master

    Unresolved
    cditck-porting/master

    Unresolved
    ditck-porting/master

    Unresolved

[2020-06-09 03:55] alwin-joseph commented on #293
Scott - i dont suppose this _unresolved_ is a problem for us. The subprojects are running as expected.

[2020-06-09 17:37] scottmarlow opened #313 "Remove *.?ar archives that are checked into source control"
Remove the following archives that are not using the correct EE 9 packages:
[code]

[2020-06-09 17:43] scottmarlow commented on #313
Question, what is the proper way to update these archives and why aren't we currently building them from source?

[2020-06-09 17:50] scottmarlow commented on #266
Also switch tests to Jakarta EE 9 XSDs + DTDs.

[2020-06-09 18:01] alwin-joseph commented on #293
Based on the latest job run for standalone TCK build and run: https://ci.eclipse.org/jakartaee-tck/job/standalonetck-nightly-build-run-master/54/  around 400 failures in all of these need to be looked up
Below are the failure count  for those :

1. jaxws (xml-ws-tck) : 1 signature test failure/1703 (Alwin)
2. websocket - 3/732 - 1 sig test failure(Alwin) + 2
3. jta (transactions) - 2/72 failures -

[2020-06-09 18:39] alwin-joseph commented on #313
Scott- I missed about these jars after it came up in https://github.com/eclipse-ee4j/jakartaee-tck/pull/242 .
This commit has all the archives in the repo : https://github.com/eclipse-ee4j/jakartaee-tck/commit/308f725b8054afcdff67f68ec33395c784abea77

From my knowledge they can be generated using the build.xml in the corresponding directories.

For eg:
src/com/sun/ts/tests/jstl/compat/onedotzero/

[2020-06-10 05:05] gerdogdu commented on #209
Can you please merge other package removal pull requests into upstream to work on this?

[2020-06-11 01:52] scottmarlow commented on #266
I don't see many references to /lib/schemas/*.xsd files, just the following:
[code]
We can remove the other XSD files from lib/schemas and see if that causes any issues.  This can be done separately I think than the src changes to use the EE9 schemas.

[2020-06-11 01:59] bhatpmk commented on #313
Based on my understanding, these are the archives built with a previous version of Java EE / J2EE reference implementation and the intent is to ensure that the deployment goes through fine in the current implementation. Probably compat12 is built from J2EE 1.2, compat13 is from J2EE 1.3

As we don't have these versions of the reference implementation during the TCK build, the archives are made ava

[2020-06-11 02:03] scottmarlow commented on #313
@alwin-joseph are you going to look at this issue?  Or should someone else?

[2020-06-11 02:06] scottmarlow commented on #313
Thanks @bhatpmk for the answer about what the intent was, very much appreciated!  :+1:

[2020-06-11 02:20] scottmarlow opened #317 "Some more Validation steps to be done before completing EE 9 Platform TCK release"
- [x] Provide notice, asap to specification teams, as to the tests that have been pruned/removed but are not part of the pruned/removed specifications.

- [x] Generate a list of the javax package classes that are still referenced in Platform TCK and verify that they shouldn't be changed to jakarta package.

- [ ] Verify that specifications that are newly made optional for EE 9, have all been marke

[2020-06-11 03:21] alwin-joseph commented on #313
@scottmarlow

Quoting your comments in ml,
"In theory, we could run these archives through a bytecode transformer (statically or during the test run), but IMO that isn't really required to be done.  For discussion, should we:
a.  Transform or rebuild the legacy application archives to reference jakarta.ejb.SessionBean(jakarta.*)?
b.  Remove the testing of these legacy application archives?
c.  Som

[2020-06-11 03:27] hussainnm commented on #172
@ivargrimstad Can you check if the CQ 21868 can be approved and checked into jakartaee-schemas.

#316

[2020-06-11 04:56] gurunrao commented on #313
@scottmarlow @alwin-joseph based on Bhats comments, IMO since Jakarta EE 9 is not compatible with older version, the compat12, compat13 ear and jstl compat can be removed.

[2020-06-11 07:04] ivargrimstad commented on #172
The CQ is approved for contribution. I have submitted a [PR](https://github.com/eclipse-ee4j/jakartaee-schemas/pull/9) to the Schemas repository for it.

[2020-06-11 07:06] ivargrimstad commented on #172
Next step is to publish it under https://jakarta.ee/xml/ns/jakartaee/. I will do that as soon as the PR has been merged.

[2020-06-11 08:05] gurunrao commented on #313
@scottmarlow @alwin-joseph - IMO we should prun compat12, compat13 tests.since jakarta 9 is not backward compatible with jakarta 8 with respect to package name(same apply to jstl compat tests).
I haven't come across  compat test for JAVA EE 6 or 8, either it has been discontinued or not updated.
We can discuss these before wider audience and get approval before pruning of tests.

[2020-06-11 13:49] scottmarlow commented on #172
Thanks @ivargrimstad!

[2020-06-11 13:55] scottmarlow commented on #266
Also need to replace
 http://java.sun.com/xml/ns/j2ee/web-jsptaglibrary_2_0.xsd with http://jakarta.ee/xml/ns/jakartaee/web-jsptaglibrary_3_0.xsd, once https://github.com/eclipse-ee4j/jakartaee-schemas/pull/9 is merged.

[2020-06-11 17:32] ivargrimstad commented on #172
The Schema is public: https://jakarta.ee/xml/ns/jakartaee/web-jsptaglibrary_3_0.xsd

[2020-06-11 20:30] scottkurz commented on #162
It looks like we never completed moving the batch job XMLs to the new Jakarta schema, even though we have changes like e50d9d447 that updated some of the "vehicle" XMLs.   Re-opening.

[2020-06-11 20:32] scottkurz opened #320 "Convert batch (jbatch) TCK test job XMLs from JCP -> Jakarta targetNamespace"
Continuing #162 , we still need to update

`xmlns="http://xmlns.jcp.org/xml/ns/javaee"`
  =>
`xmlns="https://jakarta.ee/xml/ns/jakartaee"`

for the batch job XMLs, e.g.
 **src/com/ibm/jbatch/tck/testJobXml/META-INF/batch-jobs/testMetricCount.xml**

[2020-06-12 17:31] scottmarlow commented on #209
Thanks again @gerdogdu!

[2020-06-12 17:31] #209 closed

[2020-06-12 19:30] #211 closed

[2020-06-15 11:20] alwin-joseph opened #328 "Platform TCK milestone release"
Steps that can be followed (Edited):

1. Create new directory to have the bundles for jakartaee9
http://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9/milestones/
http://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9/nightly/

2. Run the https://ci.eclipse.org/jakartaee-tck/job/jakartaeetck-nightly-build-master/ to build the platform TCK from master (at http://download.eclipse.org/ee4j/jak

[2020-06-15 14:13] scottmarlow commented on #328
@kwsutter do we need to release a Milestone 1 Platform TCK?

[2020-06-15 14:25] alwin-joseph commented on #259
1. Configured below active jobs to delete the tck bundles from their workspace after other actions
standalonetck-nightly-build-run-master
jakartaeetck-nightly-run-master
jakartaeetck-nightly-build-master

2. Manually deleted old build jobs from.
standalonetck-nightly-build-run-800
jakartaeetck-nightly-build-800
standalonetck-nightly-build-run-web-800
jakartaeetck-nightly-run-800

3. jakartaee-tck

[2020-06-15 15:26] mbarbero commented on #259
Thanks indeed. JENKINS_HOME is down to 227G. Here are the 5 largest jobs:

28M	glassfish-docs-publish
30M	glassfish_build-and-publish-to-eclipse-download
37M	hk2
3.4G	jakartaee-tck
223G	glassfish_build-and-test-using-jenkinsfile

[2020-06-15 15:27] mbarbero commented on #259
(whoops, ran the stats on glassfish instead of jarkartaee-tck, will come back soon with new stats)

[2020-06-15 15:50] mbarbero commented on #259
Jenkins home is down to 408G. Here are the 10 largest jobs:

7.3G	eftl-standalonetck-build-run-800
8.6G	eftl-jakartaeetck-certification-web
8.7G	jakartaeetck-nightly-run-master
9.2G	jakartaeetck-nightly-run-web-800
9.3G	jakartaee-tck-alwin
12G	jakartaeetck-nightly-run-800
14G	jakartaeetck-certification
25G	eftl-jakartaeetck-certification
40G	jakartaee-tck-grao
212G	jakartaee-tck

It seems that jak

[2020-06-15 16:02] kwsutter commented on #328
I think it would be consistent to have a Milestone artifact for the Platform TCK.  We will then corresponding artifacts for the Specs, APIs, TCKs, and CIs. Thanks!

BTW, the name of the Milestone should be 9.0.0-M1 (not MS1).  We decided on the use of the -B, -M, and -RC suffixes at a recent Platform call.  And, they are documented in this wiki:
https://wiki.eclipse.org/JakartaEE_Maven_Versioning_

[2020-06-15 19:08] alwin-joseph commented on #259
Done with the change on jakartaee-tck. Also removed more job runs that were not required.
Will continue to do further cleanup.

[2020-06-15 19:34] scottmarlow commented on #266
Remaining references to http://xmlns.jcp.org/xml/ns/javaee:
[code]

[2020-06-15 19:36] alwin-joseph commented on #328
Thanks Kevin. I will work to release a Milestone 1 Platform TCK bundle with the open pending issues.  We can have the **9.0.0-M1** bundle by later this week as per the steps.

@scottmarlow @gurunrao Can you please review and provide your comments.  This will cover only the platform TCK, not sure if we need to extend this to standalone TCKs too.

[2020-06-15 19:37] scottmarlow commented on #320
Thanks @scottkurz for noticing the remaining references!  For the Platform TCK batch tests, will you create a pull request to address those?  I added a list of the batch test files that contain ```http://xmlns.jcp.org/xml/ns/javaee``` to [jakartaee-tck/issues/266](https://github.com/eclipse-ee4j/jakartaee-tck/issues/266#issuecomment-644335205)

[2020-06-15 21:55] scottmarlow commented on #328
@alwin-joseph I think it makes sense.  I assume it will only take a few days (mostly just building + running the Platform TCK with a hack to create the new folder + copy to it), do you agree?

The longer path would be to move all of our jobs that build things for master branch, to target http://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9/nightly but that sounds more like a 3-5 day task.  We

[2020-06-16 05:44] alwin-joseph commented on #328
Yes Scott.

Yes, We can move the https://download.eclipse.org/ee4j/jakartaee-tck/master/nightly/ to https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9/nightly/ . That should be followed by modifying the job configurations to use this new location. I was trying to skip this for now and do this for final release. But it is possible to have this done now itself. I will try to do this also for

[2020-06-16 11:28] mbarbero commented on #259
Gain on jakartaee-tck is not as large as I was expecting. It's now 195G. Total usage is down to 324G though

Top 10 now:

5.6G	jakartaeetck-nightly-build-master
5.7G	jakartaeetck-nightly-run-800
6.4G	eftl-jakartaeetck-run-800
6.9G	jakartaeetck-nightly-run-master
7.3G	eftl-jakartaeetck-build-800
7.3G	eftl-standalonetck-build-run-800
8.6G	eftl-jakartaeetck-certification-web
12G	jakartaeetck-certific

[2020-06-16 14:12] scottmarlow opened #333 "Remove configure.interop + related DDL scripts"
Remove the configure.interop + related *ddl.interop.sql scripts, as they aren't needed in EE 9.

[2020-06-16 15:34] scottmarlow commented on #328
@alwin-joseph could we do this by Thursday June 18?  If not, when could we?

[2020-06-16 16:07] scottmarlow commented on #328
@alwin-joseph also, as mentioned above, I think the new download name would be http://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9/milestone/jakartaeetck-9.0.0-M1.zip.

Nice, I see the https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9/milestones/ folder, so almost done :).

[2020-06-16 16:29] alwin-joseph commented on #328
Yes. Will do this by Thursday.

[2020-06-16 16:39] alwin-joseph commented on #328
Got it.

For later reference, since this is a one time task, created the directories using below commands from a CI job.

ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null genie.jakartaee-tck@build.eclipse.org mkdir -p /home/data/httpd/download.eclipse.org/ee4j/jakartaee-tck/jakartaee9/nightly

ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null genie.jakartaee-tck@build.

[2020-06-17 13:01] scottkurz commented on #320
Thanks @scottmarlow .. Fixed batch in https://github.com/eclipse-ee4j/jakartaee-tck/pull/337

[2020-06-17 16:21] scottmarlow opened #339 "Add code back in to create the ts_dep folder in the dist folder"
Thanks @gerdogdu for finding this bug and posting to the jakartaee-tck-dev@eclipse.org mailing list, very much appreciated!

https://gist.github.com/scottmarlow/67a84984df5d449560d6691f1c7b2b22 shows select output from ```git diff --no-ext-diff --unified=0 8.0.2 HEAD --no-ext-diff > allchanges.diff``` that was removed with other Jakarta Deployment handling code.  The problem is that the removed ge

[2020-06-17 17:06] scottmarlow commented on #339
We probably need add the folder creation code just under line 128 in com.sun.ts.lib.implementation.sun.javaee.glassfish.AutoDeployment#init:

[code]
Something like:
[code]

[2020-06-17 18:12] alwin-joseph commented on #328
Done.

Done. There are failures in sample tests currently.

Will continue the next steps and complete by tomorrow(Thursday)

[2020-06-17 18:21] alwin-joseph commented on #328
We will be releasing only the EPL licenced platform TCK bundle for this milestone release. I assumed EFTL bundles (eclipse-jakartaeetck-*) can be skipped for M1. Please correct me if it is required too.

[2020-06-17 18:27] kwsutter commented on #328
Correct.  EPL only.  Thanks!

On Wed, Jun 17, 2020, 13:21 Alwin Joseph <notifications@github.com> wrote:

[2020-06-17 18:49] scottmarlow commented on #253
I believe that this issue is resolved now since pruning is complete.  Please reopen if there are more build errors to be solved.

[2020-06-17 18:49] #253 closed

[2020-06-18 09:53] markt-asf commented on #44
On reflection, I think looking for 404 is the correct way to handle this.
The test is checking that the addition of "/j_security_check" doesn't trigger something in the authentication mechanism.

[2020-06-18 16:00] scottmarlow commented on #328
@alwin-joseph I see that you started jakartaeetck-certification, what is that running for?  jakartaeetck-certification appears to be be setting GF_FULL_BUNDLE_URL to GlassFish 5.1.

Should we update the promote_jakartaee8_epl_bundles job to scp http://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9/nightly/jakartaeetck-9.0.0.zip to http://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9/miles

[2020-06-18 16:11] scottmarlow commented on #328
@alwin-joseph FYI I updated https://ci.eclipse.org/jakartaee-tck/job/standalonetck-nightly-build-run-master/ to use the new http://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9/nightly destination.  I'll start that after we are done with copying to http://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9/milestones/jakartaeetck-9.0.0-M1.zip (we use "milestones" + "milestone" above, I assume

[2020-06-18 16:20] alwin-joseph commented on #328
Thanks. Sorry, "milestones" is correct

[2020-06-18 16:27] alwin-joseph commented on #328
Can you please review : https://ci.eclipse.org/jakartaee-tck/job/promote_jakartaee9_epl_bundles/

[2020-06-18 16:30] alwin-joseph commented on #328
Also the platform TCK bundle got updated at jakartaee9/nightly with a servlet related PR after the jakartaeetck-nightly-run-master started.

[2020-06-18 16:39] scottmarlow commented on #328
Reviewing, I'll make some updates, we can delete the references to:
-     Jakarta XML Registries
-     Jakarta XML RPC
-     Jakarta Deployment
-     Jakarta Management
-

[2020-06-18 17:20] alwin-joseph commented on #328
Thanks. We can run this job once the below jobs complete:
https://ci.eclipse.org/jakartaee-tck/job/jakartaeetck-certification/89/ (servlet & websocket)
https://ci.eclipse.org/jakartaee-tck/job/jakartaeetck-nightly-run-master/45/

We do have around 50% test failures overall.

I have commented the scp on standalone tcks for now.
We would need below changes to this job for later.
1. Change name of st

[2020-06-18 17:44] scottmarlow commented on #328
@alwin-joseph just to confirm, are you okay with me running https://ci.eclipse.org/jakartaee-tck/job/promote_jakartaee9_epl_bundles once the two jobs you mentioned above complete?  I would like to push it today, as we do not need any further changes for this milestone.

Good to see test failures down to 50%!

[2020-06-18 21:30] alwin-joseph commented on #328
Sure. Thank you.

[2020-06-18 21:36] alwin-joseph commented on #328
I see the https://ci.eclipse.org/jakartaee-tck/job/jakartaeetck-nightly-run-master/45/ is still stuck with the servlet & websocket failing tests, but the https://ci.eclipse.org/jakartaee-tck/job/jakartaeetck-certification/89/  completed. So I think it would be ok to even stop the jakartaeetck-nightly-run-master/45/ .

[2020-06-18 22:08] scottmarlow commented on #328
I stopped jakartaeetck-nightly-run-master/45, will start promote_jakartaee9_epl_bundles with JAKARTAEE_TCK option enabled.

[2020-06-18 22:12] scottmarlow commented on #328
@alwin-joseph excellent!  promote_jakartaee9_epl_bundles worked!  Thanks for taking care of this!

@kwsutter https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9/milestones/jakartaeetck-9.0.0-M1.zip is pushed!

[2020-06-19 01:42] #339 closed

[2020-06-20 11:31] scottmarlow commented on #313
I updated the title and first comment, to reflect the new plan, which is to remove these archives, instead of updating them.  As EE 9 does not need to test archives generated from old EE versions.

[2020-06-21 01:15] #320 closed

[2020-06-29 19:55] scottmarlow commented on #328
Closing as milestone 1 is complete.

[2020-06-29 19:55] #328 closed

[2020-07-03 11:31] alwin-joseph commented on #293
Closing this issue as the standalone TCK builds are successfully completed. Can create separate issues to track the test failures in each TCKs.

[2020-07-03 11:31] #293 closed

[2020-07-03 11:33] #151 closed

[2020-07-06 12:25] jeanouii opened #355 "Security API :: LDAP IDStore: invalidcallerbasedn"
Hi

I'm looking for some clarifications around this particular test
https://github.com/eclipse-ee4j/jakartaee-tck/blob/master/src/com/sun/ts/tests/securityapi/idstore/ldap/invalidcallerbasedn/Client.java#L73

All other invalidXXX return an exception so I'm wondering why this one is supposed to return INVALID

This looks inconsistent to me.
There are probably good reasons for it, so having some cla

[2020-07-06 12:27] jeanouii opened #356 "Security API :: No ID Store"
Hi,

In this test
https://github.com/eclipse-ee4j/jakartaee-tck/blob/master/src/com/sun/ts/tests/securityapi/idstore/noidstore/Client.java#L75

The comment says we should get a NOT_VALIDATED which is what I would expect based on my understand, but the assertion is checking for an exception.

Can anyone look at it and clarify the test please?

Best regards
Jean-Louis Monteiro

[2020-07-07 13:48] #136 closed

[2020-07-07 13:49] scottmarlow commented on #136
Thanks @chengfang for the fix!

[2020-07-10 13:27] scottmarlow commented on #125
Closing since this is merged, thanks again @chengfang

[2020-07-10 13:27] #125 closed

[2020-07-10 18:20] scottmarlow commented on #313
Jakarta Server Pages tests are currently passing with:
./src/com/sun/ts/tests/jsp/spec/configuration/elevaluation/jsp_config_eleval23.ear
./src/com/sun/ts/tests/jsp/spec/configuration/elevaluation/jsp_config_eleval23_web.war

[2020-07-15 17:43] scottmarlow commented on #355
I see the discussion on https://www.eclipse.org/lists/es-dev/msg00082.html, linking that here for others to see as well.

Following @assertion_ids: Security:JAVADOC:120 in the linked test, [internal/docs/securityapi/SecurityAPIJavadocAssertions.html#L1677](https://github.com/eclipse-ee4j/jakartaee-tck/blob/master/internal/docs/securityapi/SecurityAPIJavadocAssertions.html#L1677) or [internal/docs/

[2020-07-15 17:48] scottmarlow commented on #355
@jeanouii actually, I don't have the current email thread locally, so it would be better if you respond first here or in the email thread.

[2020-07-16 07:23] gurunrao commented on #313
There are failures with JSTL compat onedotzero test - https://ci.eclipse.org/jakartaee-tck/job/jakartaeetck-nightly-run-master/lastBuild/testReport/junit/com.sun.ts.tests.jstl.compat.onedotzero/
Shall we prune test related to JSTL compat onedotzero?

[2020-07-16 13:01] scottmarlow commented on #313
@gurunrao Did you mean to say that the JSTL tests are passing?

[2020-07-16 13:16] gurunrao commented on #313
All  JSTL tests were failing as per last run, not just compat.onedotzero.
Platform TCK - https://ci.eclipse.org/jakartaee-tck/job/jakartaeetck-nightly-run-master/lastBuild/testReport/
Tag TCK - https://ci.eclipse.org/jakartaee-tck/job/standalonetck-nightly-build-run-master/70/junit-reports-with-handlebars/testSuitesOverview.html
@alwin-joseph mentioned tags-tck failures are due to start-domain iss

[2020-07-16 17:05] scottmarlow commented on #271
I think that this is handled already.

[2020-07-16 17:05] #271 closed

[2020-07-16 17:14] scottmarlow opened #360 "Update EFTL build TCKs to copy to https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged"
We should run the EFTL TCKs now to copy TCKs to https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged

[2020-07-16 17:41] scottmarlow commented on #360
I will start with https://ci.eclipse.org/jakartaee-tck/job/eftl-standalonetck-build-run-900

[2020-07-16 18:09] alwin-joseph opened #361 "Keep certification jobs ready for Jakartaee9 test runs"
The EFTL & EPL certification jobs in the CI should be updated to provide option to run the jakartaee9 promoted TCK bundles.

Below jobs will be updated to use the Jakartaee9 bundles.
https://ci.eclipse.org/jakartaee-tck/job/eftl-jakartaeetck-certification/
https://ci.eclipse.org/jakartaee-tck/job/eftl-jakartaeetck-certification-web/
https://ci.eclipse.org/jakartaee-tck/job/eftl-standalonetck-certi

[2020-07-16 18:12] scottmarlow commented on #360
@alwin-joseph https://ci.eclipse.org/jakartaee-tck/job/eftl-standalonetck-build-run-900 is ready for your review, thanks!

[2020-07-16 18:14] scottmarlow commented on #361
+1

[2020-07-16 18:22] alwin-joseph commented on #360
Thanks. I updated the jakartaee-tck/9.0 to jakartaee-tck/master as we are working on master branch. Can you please trigger the job.

[2020-07-17 12:39] scottmarlow commented on #360
https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged-900 now contains:
[code]

[2020-07-17 12:53] scottmarlow commented on #360
https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged-900/eclipse-debugging-tck-1.0.0.zip looks wrong, should be 2.0 I think (https://jakarta.ee/specifications/debugging/2.0)

[2020-07-17 13:01] alwin-joseph commented on #360
Thats right. @RohitKumarJain Can you please take care of upgrading the dsol tck version.

[2020-07-17 13:05] RohitKumarJain commented on #360
@alwin-joseph sure, I'll take care of this.

[2020-07-17 13:11] scottmarlow commented on #360
I'm not familar with DSOL really, but took a shot via https://github.com/eclipse-ee4j/debugging-support-for-other-languages-tck/pull/13

[2020-07-17 13:13] scottmarlow commented on #360
@RohitKumarJain if you already made a change, I can delete ^ :)

[2020-07-17 13:15] RohitKumarJain commented on #360
@scottmarlow , it's fine.

[2020-07-17 13:38] alwin-joseph opened #362 "Userguide updates & review for JakartaEE 9"
The userguides and other docs need to be updated and reviewed before promoting the nightly bundles.

/user_guides has the UG related files.

Majorly the TCK versions need to be appended for most of the technologies.

[2020-07-17 13:47] scottmarlow commented on #362
+1

[2020-07-17 13:53] scottmarlow commented on #360
I updated https://ci.eclipse.org/jakartaee-tck/job/eftl-standalonetck-build-run-900 to delete eclipse-debugging-tck-1.0.0.zip + eclipse-debugging-tck-1.0.0-tckinfo.txt when we run eftl-standalonetck-build-run-900 again.

[2020-07-17 14:20] scottmarlow commented on #360
Thanks @RohitKumarJain for the merges, I'll start https://ci.eclipse.org/jakartaee-tck/job/eftl-standalonetck-build-run-900 now and choose DSOL to only generate the DSOL 2.0.0 TCK.

[2020-07-17 16:23] scottmarlow commented on #360
https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged-900/ now contains https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged-900/eclipse-debugging-tck-2.0.0.zip, so I think we are good.  I will close this issue now.

[2020-07-17 17:32] scottmarlow commented on #254
Closing as I think this is resolved now.  Please reopen if not.

[2020-07-17 17:32] #254 closed

[2020-07-17 17:47] scottmarlow commented on #259
Just deleted some more job results, so we could be lower now.  Please reopen if we need to reduce disk space further.

[2020-07-17 17:47] #259 closed

[2020-07-17 19:20] scottmarlow opened #363 "TCKs in https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged-900 have unexpected "eclipse" prefix"
For example I think that https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged-900/eclipse-expression-language-tck-4.0.0.zip should instead be https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged-900/expression-language-tck-4.0.0.zip

I'm not sure why "eclipse-" prefix was added.

https://ci.eclipse.org/jakartaee-tck/job/jakartaee-tck/job/master/790/artifact/ roo

[2020-07-17 20:04] scottmarlow commented on #363
It looks like the "eclipse-" [prefix is on purpose as per](https://github.com/eclipse-ee4j/jakartaee-tck/blob/master/docker/build_standalone-tcks.sh#L243):
[code]

[2020-07-17 20:10] scottmarlow commented on #363
@alwin-joseph please do close this issue if you agree the "eclipse-" prefix is okay in the https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged-900

[2020-07-18 10:48] ivargrimstad opened #364 "Update Specification versions in the TCK User Guides"
The version used in the title of the User Guides should match the versions targeted for Jakarta EE 9

E.g. https://github.com/eclipse-ee4j/jakartaee-tck/blob/master/user_guides/jaxws/src/main/jbake/assets/_config.yml
Should be changed from 2.3 to 3.0.

[2020-07-18 16:10] alwin-joseph commented on #363
Yes , the "eclipse-" was intentional for the EFTL bundles.
Another difference between EFTL & EPL bundles bundles is the LICENSE file present in them.

[2020-07-18 16:29] alwin-joseph commented on #363
@dblevins Sorry, are you suggesting that "eclipse-" is not required for EFTL TCK bundles. We were told to rename the EFTL bundles(with EFTL License file) with this prefix for Jakartaee8 release and I did not check if there is a difference for Jakartaee9 now. Can you please help clarify.

[2020-07-18 16:31] dblevins commented on #363
Just reopening briefly as "jakarta" is actually the preferred prefix for all the TCKs.  If they do begin with "eclipse-" they will be renamed to "jakarta-" prior to being published by the specification committee tooling:

 - https://github.com/jakartaee/specification-tools/blob/master/promotion/promote-release.sh#L73

That line was added to the script after discussion in the Specification Committe

[2020-07-18 16:49] dblevins commented on #363
@alwin-joseph Correct and the confusion is very understandable.  It's well agreed the correct trademark is "Jakarta EE" with no proceeding "Eclipse."  However, when it comes to actually applying it there are some cases where confusion has occurred.  We're slowly working through them as we find them.

For reference, here are the official Jakarta EE 8 TCKs:

 - https://download.eclipse.org/jakartaee

[2020-07-18 17:09] alwin-joseph commented on #363
@dblevins Thanks for the details.

So the https://download.eclipse.org/jakartaee/mail/1.6/eclipse-mail-tck-1.6.0.zip was renamed to https://download.eclipse.org/jakartaee/mail/1.6/jakarta-mail-tck-1.6.0.zip but only  jakarta-mail-tck-1.6.0.zip is actually required and considered as official.

When you have the information, please let us know if we should regenerate the TCK bundles with prefix "jak

[2020-07-18 17:39] dblevins commented on #363
We should regenerate the TCK bundles with the prefix "jakarta-" and discontinue the "eclipse-" prefix.

[2020-07-18 18:28] alwin-joseph commented on #363
Thanks, I have made the change and the new bundles with "jakarta-" prefix will be generated in the staged directory.

[2020-07-19 23:59] edbratt commented on #364
This maybe a more general update issue than just the version number. The
whole TCK document collection needs to be reviewed and updated if necessary.

My recommendation is that the API team submit PRs to the jakartaee-tck
repository as needed to complete these updates. (I will contact the team
on this point.)

On 7/18/2020 3:48 AM, Ivar Grimstad wrote:

[2020-07-20 04:33] alwin-joseph commented on #364
Had opened https://github.com/eclipse-ee4j/jakartaee-tck/issues/362 to cover the general updates to the userguides.

[2020-07-20 11:25] arjantijms commented on #44
@markt-asf perhaps we could consider adding a test, for clarity, that a variant of 7 using "/blabla_check" instead of "/j_security_check" behaves exactly the same.

[2020-07-20 11:31] alwin-joseph commented on #363
PR for jakartaee-tcks :
https://github.com/eclipse-ee4j/jakartaee-tck/pull/365

Commit for debugging TCK: https://github.com/eclipse-ee4j/debugging-support-for-other-languages-tck/commit/80f7bd54cea30be96d9ce8979de4d20fa8e36c2d

Bundles regenerated at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged-900/

[2020-07-20 11:31] #363 closed

[2020-07-27 14:51] alwin-joseph opened #382 "Review and promote Jakarta Annotations TCK for JakartaEE 9 release"
1. Complete userguide/documentation changes  for Jakarta Annotations TCK.

2. Review the jakarta-annotations-tck-2.0.0.zip bundle at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged-900/  (or annotations-tck-2.0.0.zip bundle at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9/nightly) to look for any changes missed to be included in JakartaEE 9 release.

3. Promote

[2020-07-27 14:53] alwin-joseph commented on #382
https://github.com/eclipse-ee4j/jakartaee-tck/pull/372 was

https://github.com/eclipse-ee4j/jakartaee-tck/pull/372 was made for UG changes.

[2020-07-27 15:26] alwin-joseph opened #383 "Review and promote Jakarta Concurrency TCK for JakartaEE 9 release"
1. Complete userguide/documentation changes  for Jakarta Concurrency TCK.

2. Review the jakarta-concurrency-tck-2.0.0.zip bundle at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged-900/  (or concurrency-tck-2.0.0.zip bundle at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9/nightly) to look for any changes missed to be included in JakartaEE 9 release.

3. Promote

[2020-07-27 15:28] alwin-joseph opened #384 "Review and promote Jakarta Messaging TCK for JakartaEE 9 release"
1. Complete userguide/documentation changes  for Jakarta Messaging TCK.

2. Review the jakarta-messaging-tck-3.0.0.zip bundle at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged-900/  (or messaging-tck-3.0.0.zip bundle at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9/nightly) to look for any changes missed to be included in JakartaEE 9 release.

3. Promote the bu

[2020-07-27 15:30] alwin-joseph opened #385 "Review and promote Jakarta Persistence TCK for JakartaEE 9 release"
1. Complete userguide/documentation changes  for Jakarta Persistence TCK.

2. Review the jakarta-persistence-tck-3.0.0.zip bundle at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged-900/  (or persistence-tck-3.0.0.zip bundle at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9/nightly) to look for any changes missed to be included in JakartaEE 9 release.

3. Promote

[2020-07-27 15:35] alwin-joseph opened #386 "Review and promote JAXWS TCK for JakartaEE 9 release"
1. Complete userguide/documentation changes  for JAXWS TCK.

2. Review the jakarta-xml-ws-tck-3.0.0.zip bundle at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged-900/  (or xml-ws-tck-3.0.0.zip bundle at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9/nightly) to look for any changes missed to be included in JakartaEE 9 release.

3. Promote the bundle https://downl

[2020-07-27 16:13] alwin-joseph commented on #386
https://github.com/eclipse-ee4j/jakartaee-tck/pull/380 is under review.

[2020-07-27 19:35] scottmarlow opened #387 "Review and promote Jakarta Expression Language 4.0 TCK for JakartaEE 9 release"
1. Complete userguide/documentation changes for Jakarta Expression Language TCK.
1. Review the jakarta-expression-language-tck-4.0.0.zip bundle at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged-900/ (or expression-language-tck-4.0.0.zip bundle at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9/nightly) to look for any changes missed to be included in JakartaEE 9

[2020-07-27 21:43] scottmarlow opened #388 "Review and promote Jakarta Web Services Metadata for JakartaEE 9 release"
1. Complete userguide/documentation changes for Jakarta Web Services Metadata TCK.
1. Review the jakarta-xml-ws-tck-3.0.0.zip bundle at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged-900/ (or xml-ws-tck-3.0.0.zip bundle at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9/nightly) to look for any changes missed to be included in JakartaEE 9 release.
1. Promote the

[2020-07-27 21:46] scottmarlow commented on #388
closing as duplicate.

[2020-07-27 21:46] #388 closed

[2020-07-28 14:00] scottmarlow commented on #386
@alwin-joseph does #5 look correct?

[2020-07-28 14:08] alwin-joseph commented on #386
Yes that is what I had in mind. Bit naive but would serve the purpose I think.

[2020-07-28 14:14] arjantijms commented on #362
Hi, what's the exact procedure here?

I've been using the Servlet TCK at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged-900/jakarta-servlet-tck-5.0.0.zip, but the user guides and release notes etc still contain all the Jakarta EE 8 and Servlet 4 references.

Did this slip through, or is it simply something that still needs to be done? The ballot for Servlet is already start

[2020-07-28 14:15] scottmarlow commented on #386
@alwin-joseph please do reword if you like. :-)

[2020-07-28 14:20] alwin-joseph commented on #386
I meant the step of commenting out the job config is naive, no issue with the wordings. :)

[2020-07-28 15:00] scottmarlow commented on #387
Pending review of https://github.com/eclipse-ee4j/jakartaee-tck/pull/367 by @markt-asf + @edbratt

[2020-07-28 15:08] alwin-joseph commented on #362
@arjantijms The TCK bundles at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged-900/ are not the final. Majorly the userguide and doc updates are pending which this issue is created for. Later the reviewed bundles will be moved to https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/promoted folder hence freezing changes to the TCK.

Issue https://github.com/eclips

[2020-07-28 15:19] arjantijms commented on #362
@alwin-joseph Okay, that's clear. Thanks! :)

[2020-07-28 16:56] arjantijms commented on #362
@alwin-joseph One more question, do you have any estimate when the first TCKs will be moved to https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/promoted at the earliest?

[2020-07-28 17:05] scottmarlow opened #390 "Review and promote Jakarta JSON Processing 2.0 TCK for JakartaEE 9 release"
1.  Complete userguide/documentation changes for Jakarta JSON Processing TCK.
1.  Review the jakarta-jsonp-tck-2.0.0.zip bundle at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged-900/ (or jsonp-tck-2.0.0.zip bundle at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9/nightly) to look for any changes missed to be included in JakartaEE 9 release.
1.  Promote the bundl

[2020-07-28 17:06] scottmarlow commented on #390
CC @alwin-joseph

[2020-07-28 19:18] alwin-joseph commented on #390
https://github.com/eclipse-ee4j/jakartaee-tck/pull/373 under review

[2020-07-28 19:34] alwin-joseph commented on #362
I was hoping that we promote the wave 0 & wave 1 standalone TCKs before the end of this week, but that will also depend on how soon the doc/UG work is done.

[2020-07-30 05:38] alwin-joseph opened #395 "Review and promote Jakarta Websocket 2.0.0 TCK for JakartaEE 9 release"
1.  Complete userguide/documentation changes for Jakarta Websocket TCK.
2.  Review the jakarta-websocket-tck-2.0.0.zip bundle at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged-900/ (or websocket-tck-2.0.0.zip bundle at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9/nightly) to look for any changes missed to be included in JakartaEE 9 release.
3.  Promote the bun

[2020-07-30 05:39] alwin-joseph opened #396 "Review and promote Jakarta Servlet 5.0.0 TCK for JakartaEE 9 release"
1.  Complete userguide/documentation changes for Jakarta Servlet TCK.
2.  Review the  jakarta-servlet-tck-5.0.0.zip bundle at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged-900/ (or servlet-tck-5.0.0.zip bundle at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9/nightly) to look for any changes missed to be included in JakartaEE 9 release.
3.  Promote the bundle h

[2020-07-30 05:40] alwin-joseph opened #397 "Review and promote Jakarta SOAP 2.0.0 TCK for JakartaEE 9 release"
1.  Complete userguide/documentation changes for Jakarta SOAP 2.0.0 TCK.
2.  Review the jakarta-soap-tck-2.0.0.zip bundle at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged-900/ (or soap-tck-2.0.0.zip bundle at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9/nightly) to look for any changes missed to be included in JakartaEE 9 release.
3.  Promote the bundle https

[2020-07-30 05:42] alwin-joseph commented on #396
https://github.com/eclipse-ee4j/jakartaee-tck/pull/389 under review

[2020-07-30 05:43] alwin-joseph commented on #397
https://github.com/eclipse-ee4j/jakartaee-tck/pull/376 under review

[2020-07-30 13:15] scottmarlow commented on #382
- [ ] In jakartaee-tck/user_guides/caj/src/main/jbake/content/config.adoc replace ```Eclipse EE4J Jakarta EE 8``` with ```Jakarta EE 9```.
- [ ] In jakartaee-tck/user_guides/caj/pom.xml, replace ```Jakarta Annotations for Jakarta EE, Release 1.3``` with ```Jakarta Annotations Release 2.0```
- [ ] In jakartaee-tck/install/caj/docs/CAJ2.0-ReleaseNotes.html, remove the list entries under ```The Jakar

[2020-07-30 14:54] scottmarlow commented on #313
@gurunrao good question, I will check about JSTL.

[2020-07-30 15:11] scottmarlow commented on #313
src/web/jstl/compat/onedotzero/WEB-INF/lib/jstltcktlv_1_0.jar has:
[code]
We could change ^ to reference jakarta.servlet.

[2020-07-30 15:11] arjantijms commented on #313
@scottmarlow The job that the project itself runs for the standalone TCK has almost the same script, and it passed the TCK, see:

https://ci.eclipse.org/jstl/job/2_jstl_run_tck_against_staged_build/

Main difference is that the GlassFish stop command fails after the property updates, and that one property update fails since it's already the target value. I just added `|| true`:

[code]

[2020-07-30 15:13] alwin-joseph commented on #382
https://github.com/eclipse-ee4j/jakartaee-tck/pull/400 covers above comments.

[2020-07-30 15:15] alwin-joseph commented on #382
I think we could trigger the build job https://ci.eclipse.org/jakartaee-tck/job/eftl-standalonetck-build-run-900/ only for annotations after the above PR merge.

[2020-07-30 15:17] scottmarlow commented on #313
src/web/jstl/compat/onedotzero/WEB-INF/lib/jstltck_1_0.jar has classes that reference javax.servlet as well.
[code]

@gurunrao it looks like we should rebuild the jars from source and check them in or change the ant scripts to generated the jars under dist during the Platform build.  Any recommendation on which is better?

[2020-07-30 15:50] scottmarlow commented on #313
@arjantijms +1 for handling the stop-domain failure of GlassFish better, are you suggesting that we do the same (as per related to our jakartaee-tck mailing list discussion about improving our test runs)?  Or is your comment related removing (updating) *.?ar archives from jstl tests?

+1 on adding ```kill of GlassFish``` logic if the GlassFish shutdown fails!

[2020-07-30 17:12] gurunrao commented on #313
@scottmarlow  - should we prune JSTL compat onedotzero tests, as we removed the compat12, compat13 tests?

[2020-07-30 17:23] scottmarlow commented on #382
[code]
:+1:

[2020-07-30 17:32] scottmarlow commented on #313
@gurunrao let's ask JSTL lead Zhijun Ren (as per https://projects.eclipse.org/projects/ee4j.jstl/who).

@ren-zhijun-oracle do you have a preference for whether we remove the JSTL (compatibility) onedotzero tests or update them to use jakarta.servlet?

Either way should help address the (EE 9) Platform TCK (Web Profile) JSTL failures like https://ci.eclipse.org/jakartaee-tck/job/eftl-jakartaeetck-r

[2020-07-30 17:48] arjantijms commented on #313
I think Zhijun left Oracle a while ago. Not sure how aware he is that he's still the JSTL lead. I haven't seen him around for quite some time.

[2020-07-30 18:09] alwin-joseph commented on #387
https://github.com/eclipse-ee4j/jakartaee-tck/pull/367 is merged.

[2020-07-30 20:37] scottmarlow commented on #313
One question that I have is how are we supposed to rebuild the https://github.com/eclipse-ee4j/jakartaee-tck/tree/master/src/web/jstl/compat/onedotzero/WEB-INF/lib/jstltcktlv_1_0.jar + https://github.com/eclipse-ee4j/jakartaee-tck/tree/master/src/web/jstl/compat/onedotzero/WEB-INF/lib/jstltck_1_0.jar files as there is no build.xml ant script.

I tried doing an "ant compile build" under the https:/

[2020-07-30 22:22] scottmarlow commented on #382
Since https://github.com/eclipse-ee4j/jakartaee-tck/pull/400 is merged, I started https://ci.eclipse.org/jakartaee-tck/job/eftl-standalonetck-build-run-900/27 to build/run Jakarta Annotations TCK.

[2020-07-31 10:09] gurunrao commented on #313
@scottmarlow - JSTL tests are passing for Platform TCK Web profile - https://ci.eclipse.org/jakartaee-tck/job/jakartaee-tck-grao/job/master/9/testReport/

To create jar - do we need to get source code for JSTL TCK 1.0? or should we use with latest JSTL TCK source code.

[2020-07-31 13:21] scottmarlow commented on #313
@gurunrao that is weird that the (Web Profile) JSTL tests were failing before but are now passing.

[code]
Or we could run the Eclipse Transformer on the jar, to update for EE 9, that could be interesting to try.

[2020-07-31 18:15] scottmarlow commented on #387
Thanks @alwin-joseph, I asked for [feedback from the el-dev](https://www.eclipse.org/lists/el-dev/msg00064.html) community on promoting jakarta-expression-language-tck-4.0.0.zip.

[2020-07-31 18:19] alwin-joseph commented on #387
Just checking the email, I think you put annotations instead of EL and the link to the bundle has extra '_' in between.

[2020-07-31 18:40] arjantijms commented on #387
Thanks for all the work here @scottmarlow and others!

At a glance the TCK itself works, and the staged TCK passes with the staged 4.0.0 versions of the Expression Language Api and impl, and the latest GF snapshot here: https://ci.eclipse.org/el/job/2_expression-language-run-tck-against-staged-build

[2020-08-01 01:37] scottmarlow commented on #333
Thanks @RohitKumarJain Rohit for addressing this!

[2020-08-01 01:37] #333 closed

[2020-08-01 01:40] scottmarlow commented on #313
https://ci.eclipse.org/jakartaee-tck/job/jakartaee-tck/job/master/884/console shows Web Profile JSTL test errors still occurring, looks like the "cts1" database user/schema is not created.
[code]

[2020-08-01 03:48] alwin-joseph commented on #397
https://github.com/eclipse-ee4j/jakartaee-tck/pull/376 merged, latest bundle generated.

[2020-08-01 03:48] alwin-joseph commented on #390
https://github.com/eclipse-ee4j/jakartaee-tck/pull/373 merged and latest bundles generated.

[2020-08-02 15:44] arjantijms opened #404 "[spec]SpecAssertions.html appear in two locations"
Hi,

I noticed that the [spec]SpecAssertions.html files appear to be checked-in in two locations. E.g.

install/jacc/docs/assertions/spec/JACCSpecAssertions.html
internal/docs/jacc/JACCSpecAssertions.html
I think this is highly confusing and very error prone. Can we delete one of those?

[2020-08-02 15:45] arjantijms opened #405 "Tool to convert [spec]SpecAssertions.xml to [spec]SpecAssertions.html"
Hi,

Every spec seems to have both a [spec]SpecAssertions.xml and [spec]SpecAssertions.html file, for instance

internal/docs/jacc/JACCSpecAssertions.xml and internal/docs/jacc/JACCSpecAssertions.html

The HTML version is generated from the XML, but where's the tool to do this?

Jakarta Authorization (JACC) has a script that appears to do this, but calls other scripts which don't seem to be availa

[2020-08-02 18:22] arjantijms commented on #364
PRs submitted for

* Expression Language https://github.com/eclipse-ee4j/jakartaee-tck/pull/367 (merged)
* Servlet https://github.com/eclipse-ee4j/jakartaee-tck/pull/389
* Authentication https://github.com/eclipse-ee4j/jakartaee-tck/pull/403
* Authorization https://github.com/eclipse-ee4j/jakartaee-tck/pull/406 (accidentally merged already)

[2020-08-03 07:43] alwin-joseph commented on #405
Hi Arjan - I moved the internal wiki which was used for generating the html version of the SpecAssertions.xml to here : https://github.com/eclipse-ee4j/jakartaee-tck/wiki/Steps-to-generate-the-html-version-of-the-SpecAssertions.xml.

I have not tried this recently so I suspect this might need an update.

[2020-08-03 09:57] arjantijms commented on #405
Thanks!

Btw, the assertions themselves are copy/pasted from the spec document. Would it not be an idea to annotate the spec document and generate the XML file directly from the spec document as part of building that document?

[2020-08-03 13:29] alwin-joseph commented on #382
Thanks. I will be promoting the jakarta-annotations-tck-2.0.0.zip soon. FYI, I had corrected the README for signature tests  (https://github.com/eclipse-ee4j/jakartaee-tck/pull/407) and regenerated the bundle.

[2020-08-03 14:11] scottmarlow commented on #382
Thanks @alwin-joseph, I emailed ca-dev@eclipse.org again and asked for +1 or -1 on promoting jakarta-annotations-tck-2.0.0.zip.  I mentioned that will promote jakarta-annotations-tck-2.0.0.zip first thing (your time) on August 4th, so please do promote jakarta-annotations-tck-2.0.0.zip tomorrow when you have time.

If we do get feedback that more changes are needed before you promote it, we can de

[2020-08-04 11:35] smillidge opened #408 "Mail session creation and deletion is broken"
References to the asadmin command `create-javamail-resource` should be changed to `create-mail-resource`.

The command was renamed in GlassFish by
https://github.com/eclipse-ee4j/glassfish/commit/0690eff31cc67632eaed56850af07f5768554242

Also the same for `delete-javamail-resource`

I think this will fix remaining tests that are failing with mail related errors.

[2020-08-04 13:19] smillidge commented on #408
Fixed by #409

[2020-08-04 13:19] #408 closed

[2020-08-04 13:33] scottmarlow opened #410 "new batch test failures"
https://ci.eclipse.org/jakartaee-tck/job/jakartaee-tck/job/master/891/testReport/com.ibm.jbatch.tck.tests.jslxml/ContextAndListenerTests/jakartaeetck_run___jbatch___testgetExceptionListenerBased_from_web/ is one of multiple Batch test failures from [this weeks GlassFish 6.0 weekly build](https://download.eclipse.org/ee4j/glassfish/weekly/glassfish-6.0.0-SNAPSHOT-2020-08-02.zip).

@scottkurz are mo

[2020-08-04 14:30] smillidge commented on #410
@scottmarlow JBatch integration into GlassFish is a very thin wrapper on the RI. I can check to see if it is all done afaik and check back. There may have been new component versions released that are not integrated.

[2020-08-04 15:30] scottmarlow commented on #410
@smillidge thanks, I did notice recent https://github.com/eclipse-ee4j/batch-api/pull/103 which incremented the JBatch schema to 2.0.  Perhaps that is a change not yet integrated (just a guess on my part).

[2020-08-04 15:35] smillidge commented on #410
@scottkurz did integrate that version here https://github.com/eclipse-ee4j/glassfish/pull/23126 however I will check whether the correct schema is also packaged with the server.

[2020-08-04 15:44] smillidge commented on #410
I can't see that the schema was previously packaged by the server so I assume it comes in the api or impl jar.

[2020-08-04 16:17] smillidge commented on #410
Looking at https://github.com/WASdev/standards.jsr352.jbatch/blob/master/com.ibm.jbatch.container/src/main/java/com/ibm/jbatch/jsl/util/ValidatorHelper.java#L43 looks like it is failing to load the schema resource. It is in the api jar at the path specified. As this code is in the container jar my gut feeling is OSGI classloading is the problem. @scottkurz did you change anything around OSGI impor

[2020-08-04 16:23] smillidge commented on #410
Apologies for the running commentary but I just checked GlassFish 5 and the xsd was packaged in the RI container jar and NOT in the api jar. In the version now packaged in GlassFish 6 the xsd is in the api jar and NOT the container jar.

I think this is causing classloader issues under OSGI. So I think this is back to @scottkurz to see if he is packaging the various jars differently.

[2020-08-04 16:23] scottkurz commented on #410
There was a change here, which I hadn't thought to mention but, looking back should have.

Previously we'd packaged the XSD file within the jbatch impl JAR.   Along with making the last 2.0 schema changes we also started packaging the XSD within the API jar, for the first time, and at the same time I pulled it out of the jbatch impl JAR.

The XSD is located at path:
`xsd/jobXML_2_0.xsd`

Does anyo

[2020-08-04 16:25] smillidge commented on #410
I think you have to export and import xsd respectively or use the OSGI Bundle api.
Alternatively use the classloader for an api class?

[2020-08-04 21:48] scottkurz commented on #410
After reading a bit, I think exporting/importing the xsd "package" seems a bit of a hack.  We'd at least probably want a more jakarta-specific qualifier, but I like the idea of instead fixing 'jbatch' to use the OSGi Bundle API like Steve suggested.

An added bonus of this decision would be that the API JAR itself doesn't needed to be re-spun (it is already staged for the 2.0.0 release)... not tha

[2020-08-04 23:12] scottmarlow commented on #410
Some instructions for running Platform TCK tests in general are shown at https://github.com/eclipse-ee4j/jakartaee-tck/wiki/Instructions-for-running-the-nightly-engineering-build-of-Platform-TCK-with-Podman-(currently-for-EE-9)

I will try ^ with ```bash -x jakartaeetck/docker/run_jakartaeetck.sh batch 2>&1 | tee run_cts.log```

[2020-08-05 08:58] smillidge commented on #410
As Batch uses the database you will likely have to run `asadmin start-database` before you run `asadmin start-domain` if you want to point me to your test app I can take a look.

[2020-08-05 15:20] scottmarlow commented on #313
The JSTL tests are passing now for Full Platform + Web Profile (verified locally and on Jenkins CI).

I'm closing issue as it is now complete.

Thanks all for the assistance on this important issue!

[2020-08-05 15:20] #313 closed

[2020-08-05 15:23] scottkurz commented on #410
@smillidge thx for offering to help.

Is the `start-database` just starting the "Network Server" (vs. embedded) database?  In any case I don't think that was the issue.   I got past my basic webcontainer issues just by blowing away the install :).

I have coded up something which seems to "work": https://github.com/WASdev/standards.jsr352.jbatch/commits/66-osgi-xsd-load

However there's an issue,

[2020-08-05 16:30] scottkurz commented on #410
@smillidge ..nevermind, there's no value in pursuing the OSGi loading.. I'm just going to ship a 2.0.0-M7 with the XSD zipped up.. In the process of testing it now.. should be available in the next couple of days.

[2020-08-05 18:03] smillidge commented on #410
alternative is to load the resource via an api classloader using an api class rather than a container class. Otherwise just duplicate the xsd in the container jar in the same location.

[2020-08-05 20:29] scottkurz commented on #410
Fix PR in:  https://github.com/eclipse-ee4j/glassfish/pull/23157/  pulling in 2.0.0-M7

[2020-08-06 16:24] alwin-joseph commented on #404
I agree the same file appears at both locations, and looks like this is happening for most other TCKs too.

From release/tools/jacc.xml I see that the install/jacc/docs/ is the one added to the TCK bundle, so I think better to retain  install/jacc/docs/assertions/spec/JACCSpecAssertions.html and remove internal/docs/jacc/JACCSpecAssertions.html unless I am missing something.

[2020-08-06 16:46] alwin-joseph commented on #405
I suppose the right tool  to extract the assertion IDs from a pdf spec document is https://github.com/eclipse-ee4j/jakartaee-tck-tools/tree/master/tools/extract-spec-assertions .

[2020-08-06 17:54] andymc12 opened #413 "Need JAX-RS TCK test case for handling arrays as parameters (query, cookie, header, etc.)"
In Jakarta RESTful Web Services issue https://github.com/eclipse-ee4j/jaxrs-api/issues/890 (targeted for 3.1 / post EE-9), implementations are required to handle array types as various types of parameters to resource methods - ex:
[code]

The TCK should already test collections in https://github.com/eclipse-ee4j/jakartaee-tck/blob/master/src/com/sun/ts/tests/jaxrs/ee/rs/queryparam/QueryParamTest.j

[2020-08-07 09:43] smillidge commented on #383
@alwin-joseph what user guide changes are typically needed?

[2020-08-08 06:10] alwin-joseph commented on #383
@smillidge
I see Ed already made the changes for concurrency : https://github.com/eclipse-ee4j/jakartaee-tck/pull/411

[2020-08-10 18:46] scottmarlow commented on #387
@arjantijms Could you please confirm that you done with making TCK changes and are ready to consider the TCK frozen?

CC: @alwin-joseph

[2020-08-10 18:50] scottmarlow commented on #382
@m0mus Could you please confirm that you done with making Annotations TCK changes and are ready to consider the TCK frozen?

If your not planning to make any TCK changes, please us know that as well.

CC @alwin-joseph

[2020-08-10 18:53] scottmarlow commented on #385
@lukasj Could you please confirm that you done with making Persistence TCK changes and are ready to consider the TCK frozen?

CC @alwin-joseph

[2020-08-10 18:56] scottmarlow commented on #383
@smillidge Could you please confirm that you done with making Concurrency TCK changes and are ready to consider the TCK frozen?

CC @alwin-joseph @edbratt

[2020-08-10 18:57] smillidge commented on #383
Yes current concurrency passes the TCK

[2020-08-10 19:06] scottmarlow commented on #384
@arjantijms Could you please confirm when you are done with making Messaging TCK changes and are ready to consider the TCK frozen?

I think this is pending https://github.com/eclipse-ee4j/jakartaee-tck/pull/415 being merged and possibly Alwin making changes to platform.mode via https://github.com/eclipse-ee4j/jakartaee-tck/pull/417.

CC @alwin-joseph @edbratt

[2020-08-10 19:30] lukasj commented on #385
@scottmarlow what exactly I'm supposed to confirm?? This is not assigned to me. I have also never been doing any changes to TCKs nor I'm planning to. I also do not have enough rights to work on TCK project/jobs themselves.

[2020-08-10 19:35] edbratt commented on #383
The question I would ask is: Does the TCK archive (ZIP), meet the
requirements of the API committer team? (Does the CI pass? [yes], are
the Docs. updated and correct?) Since this is part of the Specification,
the TCK dev. team needs a green light to promote to the next level of
Stability.

I think the Doc. updates are correct (I made them and they were
approved). @smillidge <https://github.com/smi

[2020-08-10 19:42] edbratt commented on #385
Have you reviewed the archive (.zip) contents for the TCK? Are you
satisfied with the the contents? This is part of the Specification so
they need to tell the TCK dev. team that the contents meet the
requirements of the API committer team.

I think the TCK documentation is updated correctly. If you (speaking for
the API committer team for Jakarta Persistence) are satisfied with the
contents you ca

[2020-08-10 19:48] scottmarlow commented on #383
:+1: Thanks Ed

[2020-08-10 20:16] lukasj commented on #385
OK, where can I find the zip I'm supposed to review if it is not the one under https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged-900/ folder? The one here has ie wrong jpa spec version number, among other things.

[2020-08-10 20:22] edbratt commented on #385
it should be
https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged-900/jakarta-persistence-tck-3.0.0.zip

Anything incorrect, please list here.

-- Ed

On 8/10/2020 1:17 PM, Lukas Jungmann wrote:

[2020-08-10 20:57] lukasj commented on #385
basically https://github.com/eclipse-ee4j/jakartaee-tck/issues/364 is not fixed, that is currently the main blocker.

[2020-08-10 21:20] smillidge commented on #383
@edbratt I will put a mail out onto the concurrency-dev list pointing to this issue.

[2020-08-10 21:23] edbratt commented on #385
Where does this appear in the documentation?

On 8/10/2020 1:57 PM, Lukas Jungmann wrote:

[2020-08-10 21:52] gabrielbussolo commented on #395
@alwin-joseph can u exemplify what type of changes I can search across jakarta-websocket-tck-2.0.0.zip?
thanks

[2020-08-10 22:15] scottmarlow commented on #395
There may be more version updates than you made in your pull request:
[code]

I also searched for ```Java EE``` and see a lot of that (some of which is in Java sources that are also included in other TCKS (e.g. signature, deployment handling)  and a reference to ```JSR-88``` via websocket-tck/src/com/sun/ts/tests/signaturetest/SigTest.java.

A big lesson is that we should update TCK documention ea

[2020-08-10 22:15] edbratt commented on #385
I wasn't aware these properties (or the results of their settings) showed up in any of the material included in the TCK zip files. However, I have proposed https://github.com/eclipse-ee4j/jakartaee-tck/pull/419 to update the user_guide pom file and also the _config.yml file. Please check th PR and let me know if more changes are needed.
I don't honestly understand how src/main/jbake/assets/_config

[2020-08-10 22:23] edbratt commented on #395
Most textual changes are made in the .inc files (in
src/main/jbake/content). Most of the version change details will be
corrected by updating the properties in
src/main/jbake/content/attributes.conf

Look for any text that is javax and it should probably be changed to jakarta

I don't think we should be modifying anything in the signature test
material. OR, maybe differently: we should file an iss

[2020-08-10 22:35] scottmarlow opened #420 "Pending Jakarta documentation changes"
This issue is for tracking documentation changes that are pending that might not make it into the Jakarta EE 9 release.

[2020-08-10 22:37] scottmarlow commented on #395
[code]
I opened https://github.com/eclipse-ee4j/jakartaee-tck/issues/420 for any documentation changes that we want to make post EE 9, like the signature test material.

[2020-08-11 01:14] scottmarlow commented on #410
Thanks @scottkurz + @smillidge, The Full Platform TCK run https://ci.eclipse.org/jakartaee-tck/job/jakartaee-tck/job/master/911/testReport/ is passing the JBatch tests with https://download.eclipse.org/ee4j/glassfish/weekly/glassfish-6.0.0-SNAPSHOT-2020-08-09.zip!

[2020-08-11 01:14] #410 closed

[2020-08-11 01:53] scottmarlow commented on #270
Note that we are moving away from having a Jakarta EE reference implementation and will instead have one or more compatible implementations, so we definitely need to stop copying SPEC API artifacts (into the Jakarta EE Platform TCK) from the GlassFish server that we test with.

[2020-08-11 06:07] alwin-joseph commented on #385
Just FYI, after the documentation changes for persistence was made in https://github.com/eclipse-ee4j/jakartaee-tck/pull/411 (and also #419) , it would require to regenerate the tck bundles to be updated in https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged-900/jakarta-persistence-tck-3.0.0.zip.
We can do that once #419 is merged.

[2020-08-11 08:40] alwin-joseph commented on #385
I have merged #419 . Please let us know if it is ok to refresh the https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged-900/jakarta-persistence-tck-3.0.0.zip .

[2020-08-11 09:32] m0mus commented on #382
@scottmarlow If the only signature test is updated (which I think it is) it's all good.

[2020-08-11 18:10] #83 closed

[2020-08-11 18:38] alwin-joseph commented on #382
The caj tck at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged-900/jakarta-annotations-tck-2.0.0.zip will be regenerated and released to https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/promoted/jakarta-annotations-tck-2.0.0.zip soon.

[2020-08-11 19:21] alwin-joseph commented on #382
Completed the above steps and promoted the Annotations TCK bundle. The latest bundle is available at  https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/promoted/jakarta-annotations-tck-2.0.0.zip  now.

[2020-08-11 20:02] lukasj commented on #385
Is there a nightly where I can verify recent changes? The most recent build I found at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9/nightly/ is from July 30. Based on PRs and briefly checking sources, it looks good to me

[2020-08-11 23:08] edbratt commented on #385
https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9/nightly/persistence-tck-3.0.0.zip

On 8/11/2020 1:02 PM, Lukas Jungmann wrote:

[2020-08-11 23:27] edbratt opened #422 "Missing content from 'staging' folder in archives"
In reviewing nightly build archive contents, I notice that the img and css folders from 'staging' (e.g. persistence-tck-3.0.0.zip: /persistence-tck/docs/staging/) are not being copied into the .zip archives.
I checked:
https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9/nightly/soap-tck-2.0.0.zip (date: 2020-08-11)
https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9/nightly/persisten

[2020-08-12 08:04] lukasj commented on #385
based on the current staged build:

* assertion files do refer to version 2.2 - #423
* the user guide often refers to Persistence specification (short spec name) instead of Jakarta Persistence specification (don't think this is a big deal)
* schemas updated for EE 9 are not present nor used, source folder (https://github.com/eclipse-ee4j/jakartaee-tck/tree/master/lib/schemas) has none of them, per

[2020-08-12 12:01] alwin-joseph commented on #385
Thanks, I merged this and refreshed the bundle.

@gurunrao @scottmarlow Do you know if we need to update the schemas with the https://jakarta.ee/xml/ns/persistence.

[2020-08-12 13:25] scottmarlow opened #425 "To help with webservices test failures rename jaxws/common/xml/javaEE.tokens to /jaxws/common/xml/jakartaEE.tokens"
For addressing https://github.com/eclipse-ee4j/glassfish/issues/23147, address the following warning from build of Jakarta EE 9 Platform TCK:
[code]
Action is still rename src/com/sun/ts/tests/jaxws/common/xml/javaEE.tokens to src/com/sun/ts/tests/jaxws/common/xml/jakartaEE.tokens.

[2020-08-12 13:41] alwin-joseph commented on #422
https://github.com/eclipse-ee4j/jakartaee-tck/pull/424 fixes this.

[2020-08-12 13:41] #422 closed

[2020-08-12 14:49] scottmarlow commented on #385
@alwin-joseph if we update the persistence tests to use https://jakarta.ee/xml/ns/persistence, that would likely mean that JPA 1.0 persistence providers would not work with Jakarta EE 9.

Some years ago, the JPA TCK used to include a TopLink (JPA 1.0 I think) persistence provider that was used to test that EE servers still supported JPA 1.0 persistence providers.  This was rewritten and no longer

[2020-08-12 16:33] lukasj commented on #385
wrt persistence spec itself - given the requirement on backward compatibility is EE 8 _only_, I'd just remove versions < 2.2 from the spec and add 3.0 there. I believe it's better to be done now than later (which can easily lead to never).

Wouldn't the same be true even for 2.0 - generally for anything "older" than 3.0?. I also wouldn't be surprised if these new namespaces are missed on the imple

[2020-08-12 16:35] alwin-joseph opened #427 "Review and promote Jakarta Connector 2.0.0 TCK for JakartaEE 9 release"
1.  Complete userguide/documentation changes for Jakarta Connector 2.0.0 TCK.
2.  Review the jakarta-connector-tck-2.0.0.zip bundle at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged-900/ (or connector-tck-2.0.0.zip bundle at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9/nightly) to look for any changes missed to be included in JakartaEE 9 release.
3.  Promote t

[2020-08-12 16:37] alwin-joseph opened #428 "Review and promote Jakarta Faces 3.0.0 TCK for JakartaEE 9 release"
- [X] 1.  Complete userguide/documentation changes for Jakarta Faces 3.0.0 TCK
- [x] 2.  Review the jakarta-faces-tck-3.0.0.zip bundle at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged-900/ (or faces-tck-3.0.0.zip bundle at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9/nightly) to look for any changes missed to be included in JakartaEE 9 release.
- [x] 3.  Prom

[2020-08-12 16:39] alwin-joseph opened #429 "Review and promote Jakarta JSON Binding 2.0.0 TCK for JakartaEE 9 release"
1.  Complete userguide/documentation changes for Jakarta JSON Binding 2.0.0 TCK.
2.  Review the jakarta-jsonb-tck-2.0.0.zip bundle at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged-900/ (or jsonb-tck-2.0.0.zip bundle at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9/nightly) to look for any changes missed to be included in JakartaEE 9 release.
3.  Promote the bu

[2020-08-12 16:40] alwin-joseph opened #430 "Review and promote Jakarta Pages 3.0.0 TCK for JakartaEE 9 release"
1.  Complete userguide/documentation changes for Jakarta Pages 3.0.0 TCK.
2.  Review the jakarta-pages-tck-2.0.0.zip bundle at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged-900/ (or pages-tck-2.0.0.zip bundle at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9/nightly) to look for any changes missed to be included in JakartaEE 9 release.
3.  Promote the bundle ht

[2020-08-12 16:42] alwin-joseph opened #431 "Review and promote Jakarta Transactions 2.0.0 TCK for JakartaEE 9 release"
1.  Complete userguide/documentation changes for Jakarta Transactions 2.0.0 TCK.
2.  Review the jakarta-transactions-tck-2.0.0.zip bundle at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged-900/ (or transactions-tck-2.0.0.zip bundle at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9/nightly) to look for any changes missed to be included in JakartaEE 9 release.
3.

[2020-08-12 16:44] alwin-joseph opened #432 "Review and promote Jakarta Security 2.0.0 TCK for JakartaEE 9 release"
1.  Complete userguide/documentation changes for Jakarta Security 2.0.0 TCK.
2.  Review the jakarta-security-tck-2.0.0.zip bundle at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged-900/ (or security-tck-2.0.0.zip bundle at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9/nightly) to look for any changes missed to be included in JakartaEE 9 release.
3.  Promote the

[2020-08-12 17:24] lukasj opened #433 "JSONP TCK issues"
* assertion file for version 2.0 is missing
* assertion file for version 1.1 is not linked from `docs/index.html` (https://github.com/eclipse-ee4j/jakartaee-tck/blob/master/install/jsonp/docs/index.html)
* release notes lists `Oracle JSON-P Reference Implementation Version 2.0.0` as one compatible implementation - I do not think that is the correct name of the Eclipse/EE4J implementation project
*

[2020-08-12 17:39] scottmarlow commented on #385
@lukasj
```Wouldn't the same be true even for 2.0 - generally for anything "older" than 3.0?. I also wouldn't be surprised if these new namespaces are missed on the implementations side...```

Yes, you are right, as anything older than 3.0 will still reference javax class namespace.  So, yes, we should update to https://jakarta.ee/xml/ns/persistence.

cc: @alwin-joseph

[2020-08-12 18:07] scottmarlow commented on #385
{quote}
Yes, you are right, as anything older than 3.0 will still reference javax class namespace. So, yes, we should update to https://jakarta.ee/xml/ns/persistence.
{quote}
The reason being that JPA 3.0 persistence providers shouldn't be required to support the older schemas.

[2020-08-12 19:03] scottmarlow commented on #385
I also expect that many JPA container + Persistence providers will also still handle the older schemas for support of the linked https://jakarta.ee/specifications/persistence/3.0/persistence_3.0-RC2.html#a12802 section.

[2020-08-12 21:11] lukasj opened #434 "soap tck issues"
* assertion files linked from the `docs/index.html` page are still using `javax` namespace (`javax.xml.soap`, `javax.activation`)
* assertion files for previous version of the spec (compatible with EE 8) should either be linked too or removed from the tck distribution
* `Jakarta SOAP Attachments TCK 2.0 User's Guide` in the `docs/index.html` as well as in release notes should be clickable link to

[2020-08-12 21:12] lukasj commented on #397
see #434

[2020-08-12 21:12] lukasj commented on #390
see #433

[2020-08-12 21:23] lukasj commented on #385
@edbratt few minor things:
* section 1.2.7 of the user guide refers to `Jakarta Persistence 23.0 TCK` in one of the notes
* would be good for `Jakarta Persistence TCK 3.0 User's Guide` to be clickable link in `docs/index.html` as well as in the release notes

the only remaining item is how to deal with updated schema...

[2020-08-12 22:09] scottmarlow commented on #385
How?  I think it depends on if we agree on the reason for switching persistence.xml/orm.xml to 3.0 persistence XSD, being ```persistence providers shouldn't be required to support the older schemas to pass the TCK.```

We can change one persistence.xml or all of them, there aren't that many.  Same with orm.xml:
[code]

The pluggability tests could also be updated to 3.0.

[2020-08-12 22:37] lukasj opened #435 "xml ws tck issues"
* ` Jakarta XML Web Services 3.0 Technology Compatibility Kit User's Guide` in the docs/index.html as well as in release notes should be clickable link to actual user guide contained in the tck distribution
* references to `Eclipse GlassFish Server 5.1` should be replaced with `6.0` (ie in release notes)
* release notes
  *  should be dated to `September 2020` instead of `September 2019`
  * API t

[2020-08-12 22:38] lukasj commented on #386
see #435

[2020-08-12 22:50] lukasj opened #436 "xml binding tck issues"
* no release notes, spec/javadoc assertions in the tck distribution - all others I checked do have these, so I believe that at least release notes should be added
* user guide:
  * uses `javax.xml.bind` packages, should be `jakarta.xml.bind`
  * talks about `XML Binding 2.3`, should be `XML Binding 3.0` instead
  * copyright footer should probably be updated to `2018, 2020`
  * FAQ A3 should proba

[2020-08-12 23:04] lukasj commented on #385
the decision here is going to have cascading effect on other specs as there are other schemas as well, ie soap ws do have bunch of them, then there are also ie faces, bean val.... It does not make much sense to me for one spec to have different handling and tests than others. If the decision is that new namespaces are _optional_ - not what I would prefer but I could live with it - then we're alrea

[2020-08-12 23:32] scottmarlow commented on #385
Good points @lukasj, thanks for raising them and clarifying.

I'm looking for the summary of the related vote on the https://www.eclipse.org/lists/jakartaee-platform-dev/msg01400.html thread, I do see various votes for #3 but not seeing the summary/conclusion there.

[2020-08-13 00:07] scottmarlow commented on #266
References to http://java.sun.com.*xsd:
[code]

[2020-08-13 00:39] scottmarlow commented on #385
Also see ```What is the best way to replace remaining < EE 8 XSD schemas in the Platform TCK with EE 9 Schemas?``` email conversation on https://www.eclipse.org/lists/jakartaee-tck-dev/2020/Aug/index.html

[2020-08-13 01:25] scottmarlow commented on #385
`the decision here is going to have cascading effect on other specs as there are other schemas as well, ie soap ws do have bunch of them, then there are also ie faces, bean val.... It does not make much sense to me for one spec to have different handling and tests than others. If the decision is that new namespaces are optional - not what I would prefer but I could live with it - then we're alread

[2020-08-13 01:50] scottmarlow commented on #385
`So, in summary, the question is are we required to update TCK tests to use the EE 8+ schemas?`

IMO, yes, as per https://eclipse-ee4j.github.io/jakartaee-platform/minutes/2020-01-28.html.

`What would the impact be if we don't complete update the remaining TCK references to schemas that pre-date Jakarta EE 8?
`

TCK challenges might later be filed by any implementations that doesn't think they ar

[2020-08-13 04:55] alwin-joseph commented on #436
jaxb-tck is built from separate repo https://github.com/eclipse-ee4j/jaxb-tck. The userguide and doc changes are pending.

Moved this issue to jaxb-tck repo as https://github.com/eclipse-ee4j/jaxb-tck/issues/19 .

[2020-08-13 04:55] #436 closed

[2020-08-13 05:56] alwin-joseph commented on #433
Thanks for the review. The tck has both html & pdf usersguide. The clickable link can be to first page of the html guide I suppose.

https://github.com/eclipse-ee4j/jakartaee-tck/pull/437 will be addressing this.

[2020-08-13 09:03] lukasj commented on #433
Yes, pointer to html toc is OK. Having additional `(pdf)` pointer is nice to have.

[2020-08-13 10:02] alwin-joseph commented on #433
Is it really required to link the older assertions. If the older assertion files does not have much relevance, we could remove it. I do see for most TCKs an older version is available but only the latest is linked to index.html

[2020-08-13 10:09] lukasj commented on #433
Depends on the point of view. If the file is present in the distribution then it should be reachable from docs somehow. If the "old" file gets removed, no link is needed and problem is solved too.

I would say that only versions required by TCK should be there, so EE 8 and EE 9 versions. (Read as latest is mandatory, EE 8 optional)

[2020-08-13 11:30] m0mus commented on #435
I fixed `easy` issues in #440. Assigning it to @alwin-joseph to fix `endorsed` related and TomCat related issues.

[2020-08-13 12:13] #434 closed

[2020-08-13 16:14] alwin-joseph commented on #266
Just checking , there are references to http://xmlns.jcp.org/xml/ns/javaee throughout the repo.

For standalone tcks :
./src/com/sun/ts/tests/jsf
./src/com/sun/ts/tests/securityapi
./src/com/sun/ts/tests/jms
./src/com/sun/ts/tests/servlet

Should those be updated too

[2020-08-13 16:35] scottmarlow commented on #266
@alwin-joseph yes, although I am updating all of the application.xml files except for those you already did in tests/jpa.

[2020-08-13 18:06] scottmarlow commented on #266
We have a lot of DTD references:
`
grep -rli dtd --include=*.xml | wc -l
2954
`

We might need a global search and replace to update those.

[2020-08-13 20:34] scottmarlow commented on #266
DTDs that are referenced in TCK tests:

0 web-jsptaglibrary_2_0.xsd

[2020-08-14 06:52] alwin-joseph commented on #385
@lukasj

1. I was replacing  http://xmlns.jcp.org/xml/ns/persistence  &  http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd with https://jakarta.ee/xml/ns/persistence & https://jakarta.ee/xml/ns/persistence/persistence_3_0.xsd.
But I get _jakarta.persistence.PersistenceException: No Persistence provider for EntityManager_ exception as below from jakarta.persistence.Persistence.createEntit

[2020-08-14 11:41] scottmarlow commented on #266
We likely can replace the mentioned DTDs based on searching for the named DTD files in previous comment.

IMO, we should do a similar update for each XSD named on http://www.oracle.com/webfolder/technetwork/jsc/xml/ns/javaee/index.html#4

[2020-08-14 15:58] alwin-joseph commented on #435
Looks like ant references need to be corrected throughout all the userguides and it would be ideal if we make the update uniformly, possibly with a single change. I think it should ideally list  under "3.2 Installing the Software" along with Java SE.  then set ANT_HOME, replace <TS_HOME>/tools/ant/bin with <ANT_HOME>/bin etc. I will correct these. Thanks.

[2020-08-17 09:45] m0mus commented on #429
Documentation is fixed by https://github.com/eclipse-ee4j/jakartaee-tck/pull/439

[2020-08-19 08:29] alwin-joseph commented on #435
Ant references were corrected in the latest staged bundles.

[2020-08-19 13:35] alwin-joseph commented on #397
SOAP TCK refreshed with latest changes at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged-900/jakarta-soap-tck-2.0.0.zip.

[2020-08-19 13:38] alwin-joseph commented on #390
The issues mentioned in https://github.com/eclipse-ee4j/jakartaee-tck/issues/433 was corrected by https://github.com/eclipse-ee4j/jakartaee-tck/pull/437 and latest Jsonp-tck refreshed at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged-900/jakarta-jsonp-tck-2.0.0.zip

[2020-08-20 06:24] alwin-joseph opened #457 "Review and promote Jakarta RESTful Web Services 3.0.0 TCK for JakartaEE 9 release #432"
1.  Complete userguide/documentation changes for Jakarta RESTful Web Services 2.0.0 TCK.
2.  Review the jakarta-restful-ws-tck-3.0.0.zip bundle at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged-900/ (or restful-ws-3.0.0.zip bundle at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9/nightly) to look for any changes missed to be included in JakartaEE 9 release.
3.

[2020-08-21 04:49] alwin-joseph opened #466 "Upgrading the Authorization UG plugin fails build in CI"
The Authorization users guide plugins in user_guides/jacc/pom.xml should be able to be upgraded as it was done in https://github.com/eclipse-ee4j/jakartaee-tck/pull/406. This works in local builds but fails in CI with below:

 [exec] [INFO] BUILD FAILURE
 [exec] [INFO] ------------------------------------------------------------------------
 [exec] [INFO] Total time: 19.409 s
 [exec] [INFO] Finish

[2020-08-21 05:29] alwin-joseph commented on #266
https://github.com/eclipse-ee4j/jakartaee-tck/pull/458/ covers the above

Above was corrected using
https://github.com/eclipse-ee4j/jakartaee-tck/pull/444 and
https://github.com/eclipse-ee4j/jakartaee-tck/pull/465

Pending references to http://xmlns.jcp.org/xml/ns/javaee below :

[2020-08-24 15:03] lukasj commented on #397
#472 should address remaining issues

[2020-08-24 15:15] spericas commented on #457
@alwin-joseph I reviewed the documentation for the TCK bundle an it LGTM. We can go ahead with the promotion.

[2020-08-24 18:37] lukasj commented on #390
minor fix in #473

[2020-08-24 20:13] scottmarlow commented on #266
Thanks @alwin-joseph!

[2020-08-24 22:00] scottmarlow commented on #266
I started updating the DTDs via https://github.com/eclipse-ee4j/jakartaee-tck/pull/474 (only handled application_1_*.dtd so far).

[2020-08-25 14:41] lukasj commented on #390
#475 should be the last change. @alwin-joseph  Once that is integrated and bundle refreshed we should consider it done.

cc @edbratt

[2020-08-25 15:13] m0mus commented on #390
@alwin-joseph please promote

[2020-08-25 15:25] scottmarlow commented on #427
note that https://github.com/eclipse-ee4j/jakartaee-tck/pull/474/files makes connector test changes to replace Java EE DTD with Jakarta EE 9 XSD.

[2020-08-25 15:27] scottmarlow commented on #428
Note that https://github.com/eclipse-ee4j/jakartaee-tck/pull/474 changes Java EE DTDs references in JSF tests to use Jakarta EE 9 XSD.

[2020-08-25 16:24] lukasj commented on #397
and #476 should be the last one. Once those are in and new build is staged, this should be done (I hope) - at least till someone else finds a problem...

cc @edbratt

[2020-08-25 16:29] scottmarlow commented on #266
@alwin-joseph is anyone working on updating the "Pending references to http://xmlns.jcp.org/xml/ns/javaee" that you mentioned above in your previous comment on this issue?

[2020-08-25 16:45] alwin-joseph commented on #266
I am working on below, yet to fix the test failures caused due to this.

[2020-08-25 18:07] scottmarlow commented on #266
We also still have the above mentioned ```References to http://java.sun.com.*xsd``` in:
[code]

[2020-08-25 18:21] alwin-joseph commented on #266
What would be the replacement for http://java.sun.com/xml/ns/javaee/beans_1_0.xsd . I dont see any matching in https://jakarta.ee/xml/ns/jakartaee/.

[2020-08-25 18:45] alwin-joseph commented on #397
the last changes were merged soap tck refreshed now at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged-900/jakarta-soap-tck-2.0.0.zip.

[2020-08-25 18:45] alwin-joseph commented on #390
#475 merged and jsonp tck refreshed at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged-900/jakarta-jsonp-tck-2.0.0.zip.

[2020-08-25 19:11] alwin-joseph commented on #457
Thanks @spericas . I have refreshed the staged bundle now at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged-900/jakarta-restful-ws-tck-3.0.0.zip. The same will be promoted to https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/promoted/jakarta-restful-ws-tck-3.0.0.zip soon

[2020-08-25 19:12] #433 closed

[2020-08-25 19:13] alwin-joseph commented on #390
The staged bundle https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged-900/jakarta-jsonp-tck-2.0.0.zip will be promoted to https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/promoted/jakarta-jsonp-tck-2.0.0.zip soon.

[2020-08-25 19:18] scottmarlow commented on #266
@alwin-joseph https://github.com/jakartaee/jakarta.ee/pull/850 + https://github.com/eclipse-ee4j/cdi/issues/440 appears to be open still

[2020-08-25 19:41] alwin-joseph commented on #397
As the new build is staged, please confirm if it can be promoted.

[2020-08-25 19:43] alwin-joseph commented on #266
Thanks got it.

[2020-08-25 20:21] alwin-joseph commented on #390
@m0mus @lukasj The jsonp tck 2.0.0 has been promoted to https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/promoted/jakarta-jsonp-tck-2.0.0.zip.

[2020-08-25 22:01] scottmarlow opened #478 "Review and promote Jakarta Authorization 2.0.0 TCK for JakartaEE 9 release"
1. Complete userguide/documentation changes for Jakarta Authorization 2.0.0 TCK.
1. Review the jakarta-authorization-tck-2.0.0.zip at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged-900/ to look for any changes missed to be included in JakartaEE 9 release.
1.  Promote the bundle https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged-900/jakarta-authorization-